
@{
    ViewData["Title"] = "Perfil";
}

<section>

    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <img class="rounded-circle mb-3 mt-4" src="~/assets/img/logo-r.png" width="160" height="160">
                    @* <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Cambiar Foto</button></div> *@
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Anuncios</h6>
                </div>
                <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="~/assets/img/anuncios/top.png" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="~/assets/img/anuncios/2.png" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="~/assets/img/anuncios/3.png" alt="Slide Image"></div>
                    </div>
                    <div>
                        <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-8">
            
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Datos Personales</p>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="user_names"><strong>Nombres</strong></label><input class="form-control" type="text" id="user_names" placeholder="Juan Pedro" name="user_names" disabled></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="user_lastnames"><strong>Apellidos</strong></label><input class="form-control" type="text" id="user_lastnames" placeholder="Sanchez ramirez" name="user_lastnames" disabled></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="tipo_documento"><strong>Tipo Documento</strong></label><input class="form-control" type="text" id="tipo_documento" placeholder="C.C." name="tipo_documento" disabled></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="id_number"><strong>Identificación</strong></label><input class="form-control" type="text" id="id_number" placeholder="1088313131" name="id_number" disabled></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Configuración del usuario</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="username"><strong>Nombre de Usuario</strong></label><input class="form-control" type="text" id="username" placeholder="user.name" name="username"></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="email"><strong>Correo Electrónico&nbsp;</strong></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="email"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="password"><strong>Contraseña</strong></label><input class="form-control" type="password" id="password" placeholder="Password123#" name="password"></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="repeat_password"><strong>Repetir Contraseña</strong></label><input class="form-control" type="password" id="repeat_password" placeholder="Password123#" name="repeat_password"></div>
                                    </div>
                                </div>
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Guardar</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Datos de contacto</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3"><label class="form-label" for="address"><strong>Dirección&nbsp;</strong></label><input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address"></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="city"><strong>Ciudad</strong></label><input class="form-control" type="text" id="city" placeholder="Los Angeles" name="city"></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="country"><strong>Departamento</strong></label><input class="form-control" type="text" id="country" placeholder="USA" name="country"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="phone_number"><strong>Numero Celular</strong></label><input class="form-control" type="text" id="phone_number" placeholder="3024214750" name="phone_number"></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="house_number"><strong>Telefono Fijo</strong></label><input class="form-control" type="text" id="house_number" placeholder="6063388779" name="house_number"></div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form>
                                                    <div class="mb-3">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" id="formCheck-1" required>
                                                            <label class="form-check-label" for="formCheck-1">
                                                                <strong>Acepto los términos y condiciones de uso de los datos registrados en este sitio.</strong>
                                                            </label>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Guardar</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Notificaciones</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="mb-3">
                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>Desea recibir notificaciones</strong></label></div>
                        </div>
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Guardar</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>