
@{
    ViewData["Title"] = "View";
}

<div class="welcome-container shadow">
    <h1>Bienvenido a SmileSoft ¡Paciente!</h1>
    <span class="d-none d-lg-inline me-2 small text-primary" style="font-weight: bold;" id="SaludoUsuario">
        Usuario!
    </span>
</div>


