.vs/ 

/bin/ 

/obj/ 

/TestResults/ 

[Bb]in/ 

[Oo]bj/ 

*.user 

*.vspscc 

*.vssscc 

*_i.c 

*_p.c 

*.ncb 

*.suo 

*.tlb 

*.tlh 

*.bak 

*.[Cc]ache 

*.ilk 

*.log 

*.lib 

*.sbr 

*.sdf 

*.opensdf 

*.unsuccessfulbuild 

ipch/ 

[Tt]est[Rr]esult*/ 

[Tt]est[Rr]esults*/ 

*.pidb 

*.pdb 

*.opendb 

*.VC.db 

*.VC.VC.opendb 

  

# Archivos de configuración específicos de Visual Studio 

[Tt]humbs.db 

*.DS_Store 

*.dotCover 

*.dotCover.usage 

*.resharper 

*.resharper.user 

_ReSharper*/ 

*.rptproj.user 

*.sln.docstates 

*.userprefs 

  

# Archivos de registro y salidas de depuración 

*.log 

*.logs 

*.dbmdl 

*.dbproj.log 

*.dbproj.schemaview 

*.debug.* 

*.publish.xml 

*.pubxml 

*.pubxml.user 

*.sqlplan 

*.bak 

*.cache 

*.vspx 

  

# Carpeta de paquetes NuGet 

packages/ 

  

# Archivos y carpetas de pruebas 

TestResults/ 

[Tt]est[Rr]esult*/ 

[Bb]uild[Ll]og.* 

*.testsettings 

  

# Exclusiones adicionales 

.vs/wsTryTiendas/v17/.suo 

.vs/ 

../.vs/ 
/.vs/slnx.sqlite
/.vs/SolutionSmileSoft/v17/.suo
/WebSmileSoft/obj/Release/net6.0/WebSmileSoft.GeneratedMSBuildEditorConfig.editorconfig
/.editorconfig
