################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolutionSmileSoft/FileContentIndex
/.vs/SmileSoft/FileContentIndex
/.vs/SmileSoft/v17
/EpSmileSoft/Properties/PublishProfiles
/DataAccess/obj/Debug/net6.0/DataAccess.assets.cache
/DataAccess/obj/Debug/net6.0/DataAccess.csproj.AssemblyReference.cache
/DataAccess/obj/Debug/net6.0/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
/DataAccess/obj/DataAccess.csproj.nuget.g.props
/DataAccess/obj/project.assets.json
/DataAccess/obj/project.nuget.cache
/Domain.Core/obj/Debug/net6.0/Domain.Core.assets.cache
/Domain.Core/obj/Debug/net6.0/Domain.Core.csproj.AssemblyReference.cache
/Domain.Core/obj/Debug/net6.0/Domain.Core.GeneratedMSBuildEditorConfig.editorconfig
/Domain.Core/obj/Domain.Core.csproj.nuget.dgspec.json
/Domain.Core/obj/Domain.Core.csproj.nuget.g.props
/Domain.Core/obj/project.assets.json
/Domain.Core/obj/project.nuget.cache
/Domain.Entities/obj/Debug/net6.0/Domain.Entities.assets.cache
/Domain.Entities/obj/Debug/net6.0/Domain.Entities.csproj.AssemblyReference.cache
/Domain.Entities/obj/Debug/net6.0/Domain.Entities.GeneratedMSBuildEditorConfig.editorconfig
/Domain.Entities/obj/Domain.Entities.csproj.nuget.dgspec.json
/Domain.Entities/obj/Domain.Entities.csproj.nuget.g.props
/Domain.Entities/obj/project.assets.json
/Domain.Entities/obj/project.nuget.cache
/Domain.Interfaces/bin/Debug/net6.0/CoverletSourceRootsMapping_Domain.Interfaces
/Domain.Interfaces/obj/Debug/net6.0/Domain.Interfaces.assets.cache
/Domain.Interfaces/obj/Debug/net6.0/Domain.Interfaces.csproj.AssemblyReference.cache
/Domain.Interfaces/obj/Debug/net6.0/Domain.Interfaces.GeneratedMSBuildEditorConfig.editorconfig
/Domain.Interfaces/obj/Domain.Interfaces.csproj.nuget.dgspec.json
/Domain.Interfaces/obj/Domain.Interfaces.csproj.nuget.g.props
/Domain.Interfaces/obj/project.assets.json
/Domain.Interfaces/obj/project.nuget.cache
/EpSmileSoft/obj/Debug/net6.0/EpSmileSoft.assets.cache
/EpSmileSoft/obj/Debug/net6.0/EpSmileSoft.csproj.AssemblyReference.cache
/EpSmileSoft/obj/Debug/net6.0/EpSmileSoft.GeneratedMSBuildEditorConfig.editorconfig
/EpSmileSoft/obj/EpSmileSoft.csproj.nuget.dgspec.json
/EpSmileSoft/obj/EpSmileSoft.csproj.nuget.g.props
/EpSmileSoft/obj/project.assets.json
/EpSmileSoft/obj/project.nuget.cache
/Repository/bin/Debug/net6.0/CoverletSourceRootsMapping_Repository
/Repository/obj/Debug/net6.0/Repository.assets.cache
/Repository/obj/Debug/net6.0/Repository.csproj.AssemblyReference.cache
/Repository/obj/Debug/net6.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/project.assets.json
/Repository/obj/project.nuget.cache
/Repository/obj/Repository.csproj.nuget.dgspec.json
/Repository/obj/Repository.csproj.nuget.g.props
/WebSmileSoft/obj/Debug/net6.0/apphost.exe
/WebSmileSoft/obj/Debug/net6.0/project.razor.vs.json
/WebSmileSoft/obj/Debug/net6.0/WebSmileSoft.assets.cache
/WebSmileSoft/obj/Debug/net6.0/WebSmileSoft.csproj.AssemblyReference.cache
/WebSmileSoft/obj/Debug/net6.0/WebSmileSoft.GeneratedMSBuildEditorConfig.editorconfig
/WebSmileSoft/obj/project.assets.json
/WebSmileSoft/obj/project.nuget.cache
/WebSmileSoft/obj/WebSmileSoft.csproj.nuget.dgspec.json
/WebSmileSoft/obj/WebSmileSoft.csproj.nuget.g.props
