@{
ViewData["Title"] = "About";
}
<div class="container mt-5">
    <h1 class="mb-4">About Us</h1>
    <div class="row">
        <!-- Círculo 1 - Miembro del Equipo -->
        <div class="col-md-4">
            <div class="circle">
                <h4>Nombre del Miembro</h4>
                <p>Puesto del Miembro</p>
                <!-- Puedes agregar una imagen del miembro aquí -->
            </div>
        </div>

        <!-- Círculo 2 - Miembro del Equipo -->
        <div class="col-md-4">
            <div class="circle">
                <h4>Nombre del Miembro</h4>
                <p>Puesto del Miembro</p>
                <!-- Puedes agregar una imagen del miembro aquí -->
            </div>
        </div>

        <!-- Círculo 3 - Miembro del Equipo -->
        <div class="col-md-4">
            <div class="circle">
                <h4>Nombre del Miembro</h4>
                <p>Puesto del Miembro</p>
                <!-- Puedes agregar una imagen del miembro aquí -->
            </div>
        </div>
    </div>
</div>