@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-video d-flex justify-content-center align-items-center">
    <video class="video-fluid" autoplay muted loop>
        <source src="~/img/bg-working.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
    </video>
    <img src="~/img/bg-working.png" alt="Imagen de respaldo" class="img-fluid w-50 img-backup">
</div>

