@{
    ViewData["Title"] = "Home";
}

<div class="welcome-container shadow">
    <h1>Bienvenido a SmileSoft</h1>
    <span class="d-none d-lg-inline me-2 small text-primary fs-4" style="font-weight: bold;" id="SaludoUsuario">
    </span>
</div>

<div class="card border-start-primary my-4 bg-video d-flex justify-content-center align-items-center">

    <video class="video-fluid" autoplay muted loop>
        <source src="~/assets/img/bg-working.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
    </video>
    <img src="~/assets/img/trabajando.png" alt="Imagen de respaldo" class="img-fluid img-backup">

</div>
<a asp-action="About" asp-controller="Home">About</a>
<!-- About Section-->
@* <section class="py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5 text-primary">

                    <img src="~/assets/img/anuncios/weareworking.png" class="img-fluid" />
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                    <p class="lead fw-light mb-4">My name is Start Bootstrap and I help brands grow.</p>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorum itaque qui unde quisquam consequatur autem. Eveniet quasi nobis aliquid cumque officiis sed rem iure ipsa! Praesentium ratione atque dolorem?</p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                    <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                    <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                    <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 *@



