<div id="divDoctor">
    <ul class="nav text-center flex-column" id="accordionSidebar">
        <!-- ... Contenido del menú de doctor ... -->
        <li class="nav-item nav-item2">

            <a class="nav-link" asp-controller="Doctor" asp-action="GestiondeCitas">
                <i class="fa-solid fa-calendar-days"></i><span class="ms-2">Gestión de Citas Doctores</span>
            </a>

        </li>
        <li class="nav-item nav-item2" style="display: none">

            <a class="nav-link" asp-controller="Doctor" asp-action="GestionPacientes">
                <i class="fa-solid fa-users-between-lines"></i><span class="ms-2">Gestión de Pacientes</span>
            </a>

        </li>
        <li class="nav-item nav-item2 " style="display: none">

            <a class="nav-link" asp-controller="Doctor" asp-action="HistoriasClinicas">
                <i class="fa-solid fa-hospital-user"></i><span class="ms-2">Historias Clinicas</span>
            </a>

        </li>
    </ul>
    <!-- Fin Contenido Doctores -->

</div>
