
<nav class="navbar align-items-start sidebar accordion" id="sidebar">
    <div class="container-fluid d-flex flex-column p-0 ">
        <div class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand mt-4">
            <a id="sidebar-link" href="#">
                <img src="~/assets/img/logo-nav.png" class="img-fluid" id="navLogo" onerror="this.onerror=null;this.src='~/assets/img/logo-nav.png';" title="logo">
                <div class="sidebar-brand-icon rotate-n-15"></div>
                @* <div class="sidebar-brand-text mx-3"></div> *@
            </a>
        </div>
        <hr class="sidebar-divider my-0">

        <!-- navbar-nav -->
        <!-- Elementos de menú -->
        <div id="divAdmin">
            <ul class="nav text-center flex-column" id="accordionSidebar">
                <li class="nav-item nav-item2" id="Dashboard"><a class="nav-link" asp-controller="Admin" asp-action="Index"><i class="fas fa-tachometer-alt "></i><span class="ms-2 text">Dashboard</span></a></li>
                <li class="nav-item nav-item2" id="AdminUsers"><a class="nav-link" asp-controller="Admin" asp-action="ViewTableUsers"><i class="fa-solid fa-table-list"></i><span class="ms-2">Administrar Usuarios</span></a></li>
                <li class="nav-item nav-item2" id="AdminSite"><a class="nav-link" asp-controller="Admin" asp-action="SiteManagement"><i class="fas fa-tools "></i><span class="ms-2 text">Administrar Sitio</span></a></li>
                <li class="nav-item nav-item2 " id="ClinicHistory"><a class="nav-link" asp-controller="Doctor" asp-action="HistoriasClinicas"><i class="fa-solid fa-hospital-user"></i><span class="ms-2 text">Historias Clinicas</span></a></li>
                <li class="nav-item nav-item2" id="AdminAppointments"><a class="nav-link" asp-controller="Doctor" asp-action="GestiondeCitas"><i class="fa-solid fa-calendar-days"></i><span class="ms-2 text">Gestión de Citas Doctores</span></a></li>
            </ul>
        </div>


        <div id="divDoctor">
            <ul class="nav text-center flex-column" id="accordionSidebar">
                <!-- ... Contenido del menú de doctor ... -->
               @*  <li class="nav-item nav-item2"><a class="nav-link" asp-controller="Appointments" asp-action="Index"><i class="fa-solid fa-calendar-days"></i><span class="ms-2">Gestión de Citas Index</span></a></li> *@
                <li class="nav-item nav-item2"><a class="nav-link" asp-controller="Doctor" asp-action="GestiondeCitas"><i class="fa-solid fa-calendar-days"></i><span class="ms-2 text">Gestión de Citas Doctores</span></a></li>
                <li class="nav-item nav-item2" style="display:none;"><a class="nav-link" asp-controller="Doctor" asp-action="GestionPacientes"><i class="fa-solid fa-users-between-lines"></i><span class="ms-2 text">Gestión de Pacientes</span></a></li>
                <li class="nav-item nav-item2 "><a class="nav-link" asp-controller="Doctor" asp-action="HistoriasClinicas"><i class="fa-solid fa-hospital-user"></i><span class="ms-2 text">Historias Clinicas</span></a></li>
            </ul>
            <!-- Fin Contenido Doctores -->
        </div>
        <div id="divUser">
            <ul class="nav text-center flex-column" id="accordionSidebar">
                <li class="nav-item nav-item2" id="gestionCitas"><a class="nav-link" asp-controller="Patient" asp-action="GestiondeCitas"><i class="fa-solid fa-calendar-days"></i><span class="ms-2 text">Gestión de Citas Usuarios</span></a></li>
                <li class="nav-item nav-item2" style="display:none;"><a class="nav-link" asp-controller="Patient" asp-action="HistoriaClinicaPacientes"><i class="fa-solid fa-hospital-user"></i><span class="ms-2 text">Historias Clinicas</span></a></li>
            </ul>
        </div>

        <div>
            <ul class="nav text-center logoutUsers" id="accordionSidebar">
                <li class="nav-item nav-item2 "><a class="nav-link" onclick="CerrarSesion()" style="user-select: none;"><i class="fa-solid fa-right-from-bracket"></i><span>Cerrar Sesión</span></a></li>
            </ul>
        </div>


    </div>

</nav>




