<div id="divUser">
    <ul class="nav text-center flex-column" id="accordionSidebar">
        <li class="nav-item nav-item2 ">

            <a class="nav-link" asp-controller="Patient" asp-action="GestiondeCitas">
                <i class="fa-solid fa-calendar-days"></i><span class="ms-2">Gestión de Citas Usuarios</span>
            </a>

        </li>
        <li class="nav-item nav-item2 " style="display: none">


            <a class="nav-link" asp-controller="Patient" asp-action="HistoriaClinicaPacientes">
                <i class="fa-solid fa-hospital-user"></i><span class="ms-2">Historias Clinicas</span>
            </a>

        </li>
    </ul>
</div>