
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav id="nav_bar" class="navbar navbar-expand shadow mb-4 topbar static-top bg-primary text-light">
    <div class="container-fluid">
        <button class="btn btn-link d-md-none rounded-circle me-3"
                id="sidebarToggleTop" type="button">
            <i class="fas fa-bars "></i>
        </button>
        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input class=" form-control border-0 small" type="text"
                       placeholder="Buscar"><button class="btn btn-primary py-0 btn-en-desarrollo" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <ul class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item dropdown d-sm-none no-arrow">
                <a class="dropdown-toggle nav-link"
                   aria-expanded="false" data-bs-toggle="dropdown" href="#">
                    <i class="fas fa-search"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="me-auto navbar-search w-100">
                        <div class="input-group">
                            <input class=" form-control border-0 small"
                                   type="text" placeholder="Buscar ...">
                            <div class="input-group-append">
                                <button class="btn btn-primary py-0 btn-en-desarrollo"
                                        type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
           @*  <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link"
                       aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="me-3">
                                <div class="bg-primary icon-circle">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <span class="small text-gray-500">Agosto 31, 2023</span>
                                <p>Cita Agendada para Consulta</p>
                            </div>
                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="me-3">
                                <div class="bg-success icon-circle">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <span class="small text-gray-500">Agosto 31, 2023</span>
                                <p>Cita Agendada para Higiene</p>
                            </div>
                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="me-3">
                                <div class="bg-warning icon-circle">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <span class="small text-gray-500">Agosto 31, 2023</span>
                                <p>Cita Agendada para Diagnostico</p>
                            </div>
                        </a><a class="dropdown-item text-center small text-gray-500" href="#">
                            Mostrar
                            Todas las Alertas
                        </a>
                    </div>
                </div>
            </li> *@
            @*<li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link"
                       aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                        <h6 class="dropdown-header">Centro de Alertas</h6><a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image me-3">
                                <img class="rounded-circle"
                                     src="~/assets/img/avatars/avatar1.jpeg">
                                <div class="bg-success status-indicator"></div>
                            </div>
                            <div class="fw-bold">
                                <div class="text-truncate">
                                    <span>
                                       Hola, Recuerda que tienes una Cita para x Día
                                    </span>
                                </div>
                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                            </div>
                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image me-3">
                                <img class="rounded-circle"
                                     src="~/assets/img/avatars/avatar1.jpeg">
                                <div class="status-indicator"></div>
                            </div>
                            <div class="fw-bold">
                                <div class="text-truncate">
                                    <span>
                                        Ya estan listos los resultados de tu examén
                                    </span>
                                </div>
                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                            </div>
                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image me-3">
                                <img class="rounded-circle"
                                     src="~/assets/img/avatars/avatar1.jpeg">
                                <div class="bg-warning status-indicator"></div>
                            </div>
                            <div class="fw-bold">
                                <div class="text-truncate">
                                    <span>
                                        Bienvenida a Smilesoft
                                    </span>
                                </div>
                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                            </div>
                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image me-3">
                                <img class="rounded-circle"
                                     src="~/assets/img/avatars/avatar1.jpeg">
                                <div class="bg-success status-indicator"></div>
                            </div>
                            
                        </a>@* <a class="dropdown-item text-center small text-gray-500" href="#">
                            Mostrar
                            todas las Alertas
                        </a> @
                    </div>
                </div>
                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end"
                     aria-labelledby="alertsDropdown"></div>
            </li>*@
            <li class="theme-switcher nav-item dropdown no-arrow z-3">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill mb-1">
                        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                    </svg>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill opacity-50 me-2">
                            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                        </svg>Light
                    </a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-moon-stars-fill opacity-50 me-2">
                            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
                        </svg>Dark
                    </a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-circle-half opacity-50 me-2">
                            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                        </svg>Auto
                    </a>
                </div>
            </li>
                <div class="d-none d-sm-block topbar-divider"><hr /> </div>
            <li class="nav-item dropdown no-arrow z-3">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link"
                       aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span class="d-none d-lg-inline me-2 small text-light" style="font-weight: bold;" id="nombreUsuario">SmileSoft Team
                        </span><img class="border rounded-circle img-profile"
                                    src="~/assets/img/avatars/avatar1.jpeg">
                    </a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in z-3">
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Index">
                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>Ajustes de Usuario
                        </a> @*<a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>Ajustes
                        </a><a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>Log de Actividades
                        </a> *@
                        <div class="dropdown-divider"></div><a class="dropdown-item" onclick="CerrarSesion()" style="user-select: none;">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>Cerrar
                            Sesión
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

@section scripts {

    <script>
        function updateNavbarBackground(selectedColor) {
            // Obtén una referencia a la barra de navegación por su ID
            const navbar = document.getElementById("nav_bar");

            // Elimina todas las clases de fondo de la barra de navegación
            navbar.classList.remove("bg-primary", "bg-danger", "bg-success");

            // Agrega la clase de color seleccionada a la barra de navegación
            navbar.classList.add(selectedColor);
        }
        </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtén el elemento del enlace de cierre de sesión por su ID
            const logoutLink = document.getElementById('logoutLink');

            // Agrega un controlador de eventos click al enlace
            logoutLink.addEventListener('click', function (e) {
                // Borra el Session Storage
                sessionStorage.clear();
            });
        });
    </script>

    <!-- Scripts específicos para esta vista parcial -->
    @* <script src="~/assets/js/theme.js" asp-append-version="true"></script>
    <script src='https://code.jquery.com/jquery-3.7.0.min.js' asp-append-version="true"></script> *@
}

