<div class="modal fade" id="addUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Agregar Usuario</h5>
            </div>
            <div class="modal-body">
                <form id="add-user-form">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Datos Personales</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="nombres">* Nombres:</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="apellidos">* Apellidos:</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoDocumento">* Tipo de Documento:</label>
                                <select class="form-control" id="tipoDocumento" name="tipoDocumento" required>
                                    <option value="1">Cedula de Ciudadania (CC)</option>
                                    <option value="2">Cedula de Extranjeria (CE)</option>
                                    @*  <option value="3">Tarjeta de Identidad (TI)</option> *@
                                </select>
                            </div>
                        </div><div class="col-md-6">
                            <div class="form-group">
                                <label for="numeroDocumento">* Número de Documento:</label>
                                <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoGenero">* Genero:</label>
                                <select class="form-control" id="tipoGenero" name="tipoGenero" required>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="0">Prefiero no decir</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" placeholder="YYYY-MM-DD" required>
                            </div>
                        </div>
                    </div>



                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Datos de Contacto</p>
                    </div>
                    <div class="row">
                        <!-- Segunda Columna -->
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="correo">* Correo Electrónico:</label>
                                <input type="email" class="form-control" id="correo" name="correo" required>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="direccion">Dirección:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" required>
                            </div>
                        </div><div class="col-md-6">
                            <div class="form-group">
                                <label for="celular">Número de Celular:</label>
                                <input type="text" class="form-control" id="celular" name="celular" required>
                            </div>
                        </div>
                    </div>

                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Datos Acceso a Smilesoft</p>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="tipoUsuario">* Tipo de Usuario:</label>
                            <select class="form-control" id="tipoUsuario" name="tipoUsuario" required>
                                <option value="3">Paciente</option>
                                <option value="2">Odontólogo</option>
                                <option value="1">Administrador</option>
                            </select>
                        </div>
                    </div><div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usuario">* Usuario:</label>
                                <input type="text" class="form-control" id="usuario" name="usuario" required>
                            </div>
                        </div><div class="col-md-6">
                            <div class="form-group">
                                <label for="password">* Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="campoOpcionala" style="display: none;">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Datos de Estudios</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3"><label class="form-label" for="AcademicLevela"><strong>Nivel Académico </strong></label>
                                  @*   <input class="form-control" type="text" id="AcademicLevela" placeholder="" name="TituloAcademico"></div> *@
                                    <select class="form-control" type="text" id="AcademicLevela" placeholder="" name="academiclevel">
                                    <option value="0">Seleccionar Opción</option>
                                    <option value="1">Educación Preescolar</option>
                                    <option value="2">Educación Primaria</option>
                                    <option value="3">Educación Secundaria</option>
                                    <option value="4">Educación Técnica o Vocacional</option>
                                    <option value="5">Educación Superior (Universidad o Colegio)</option>
                                    <option value="6">Postgrado o Posgrado (Maestría o Doctorado)</option>
                                </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3"><label class="form-label" for="TituloAcademicoa"><strong>Titulo Académico </strong></label><input class="form-control" type="text" id="TituloAcademicoa" placeholder="" name="TituloAcademico"></div>
                                </div> <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="Specialitya">
                                            <strong>Especialidad </strong>
                                        </label>
                                        <select class="form-control" type="text" id="Specialitya" placeholder="" name="Speciality">
                                            <option value="1">Odontología general</option>
                                            <option value="2">Endodoncia</option>
                                            <option value="3">Cirugía oral</option>
                                            <option value="4">Ortodoncia</option>
                                            <option value="5">Odontopediatría</option>
                                            <option value="6">Periodoncia</option>
                                        </select>

                                    </div>
                                </div>
                            </div> <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3"><label class="form-label" for="Universitynamea"><strong>Universidad </strong></label><input class="form-control" type="text" id="Universitynamea" placeholder="" name="University"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="Tarjeta_Profesionala">
                                            <strong>Tarjeta Profesional </strong>
                                        </label>
                                        <input class="form-control" type="text" id="Tarjeta_Profesionala" placeholder="" name="Tarjeta_Profesional">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="add-user">Agregar</button>
            </div>
        </div>
    </div>
</div>
