<div class="modal fade " id="editPassword" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Cambiar Contraseña de:</h5>
               
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-1">
               <span id="userNamePass" class="font-weight-bold text-primary fs-3"></span>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Nueva Contraseña:</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" autocomplete="new-password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="changePasswordBtn">Cambiar Contraseña</button>
            </div>
        </div>
    </div>
</div>
