

<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Datos Personales</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="editNombre">* Nombres:</label>
                                <input type="text" class="form-control" id="editNombre" name="editNombre" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editApellido">* Apellidos:</label>
                                <input type="text" class="form-control" id="editApellido" name="apellidos" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoDocumentoe">* Tipo de Documento:</label>
                                <select class="form-control" id="tipoDocumentoe" name="tipoDocumentoe" required>
                                    <option value="1">Cedula de Ciudadania (CC)</option>
                                    <option value="2">Cedula de Extranjeria (CE)</option>
                                    @* <option value="3">Tarjeta de Identidad (TI)</option> *@
                                </select>
                            </div>
                        </div><div class="col-md-6">
                            <div class="form-group">
                                <label for="editDocumentoe">* Número de Documento:</label>
                                <input type="text" class="form-control" id="editDocumentoe" name="numeroDocumento" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tGeneroe">* Genero:</label>
                                <select class="form-control" id="tGeneroe" name="tipoGenero" required>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="0">No se Identifica</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fechaNacimientoe">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control" id="fechaNacimientoe" name="fechaNacimiento" value="YYYY-MM-DD" placeholder="YYYY-MM-DD"  required>
                            </div>
                        </div>
                    </div>

                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Datos de Contacto</p>
                    </div>
                    <div class="row">
                        <!-- Segunda Columna -->
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="editCorreo">* Correo Electrónico:</label>
                                <input type="email" class="form-control" id="editCorreo" name="correo" required>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="direccione">Dirección:</label>
                                <input type="text" class="form-control" id="direccione" name="direccion" required>
                            </div>
                        </div><div class="col-md-6">
                            <div class="form-group">
                                <label for="editCelular">Número de Celular:</label>
                                <input type="text" class="form-control" id="editCelular" name="celular" required>
                            </div>
                        </div>
                    </div>

                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Datos Acceso a Smilesoft</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoUsuarioe">* Tipo de Usuario:</label>
                                <select class="form-control" id="tipoUsuarioe" name="tipoUsuario" required>
                                    <option value="3">Paciente</option>
                                    <option value="2">Odontólogo</option>
                                    <option value="1">Administrador</option>
                                </select>
                            </div>
                        </div>
                        @* </div>
                        <div class="row"> *@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">* Usuario:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </div><div class="col-md-6" style="display:none">
                            <div class="form-group">
                                <label for="passworde">* Contraseña:</label>
                                <input type="password" class="form-control" id="passworde" name="password" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="campoOpcional" style="display: none;">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Datos de Estudios</p>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="mb-3">
                                    <label class="form-label" for="AcademicLevel">
                                        <strong>Nivel Académico </strong>
                                    </label>
                                    <input class="form-control" type="text" id="AcademicLevel" placeholder="" name="TituloAcademico">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="TituloAcademico">
                                            <strong>Titulo Académico </strong>
                                        </label><input class="form-control" type="text" id="TituloAcademico" placeholder="" name="TituloAcademico">
                                    </div>
                                </div> <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="Speciality">
                                            <strong>Especialidad </strong>
                                        </label>
                                        <input class="form-control" type="text" id="Speciality" placeholder="" name="Speciality">
                                    </div>
                                </div>
                            </div> <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3"><label class="form-label" for="Universityname">
                                        <strong>Universidad </strong>
                                        </label>
                                        <input class="form-control" type="text" id="Universityname" placeholder="" name="University">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="ProfessionalLicense">
                                            <strong>Tarjeta Profesional </strong>
                                        </label>
                                        <input class="form-control" type="text" id="ProfessionalLicense" placeholder="" name="Tarjeta_Profesional">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="saveChangesBtn">Guardar Cambios</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

