
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @* <a asp-controller="Home" asp-action="Index">Inicio</a>  *@Inicio</li>
        <li class="breadcrumb-item">Sitio</li>
        <li class="breadcrumb-item active" aria-current="page">
            Ajustes del Sitio
        </li>
    </ol>
</nav>

<div class="row gutters-sm">
    <div class="col-md-4 d-none d-md-block">
        <div class="card">
            <div class="card-body">
                <nav class="nav flex-column nav-pills nav-gap-y-1">
                    <!-- Ajustes del Sitio -->
                    <a href="#sitesettings"
                       data-toggle="tab"
                       class="nav-item nav-link has-icon nav-link-faded">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="feather feather-settings mr-2">
                            <circle cx="12" cy="12" r="3"></circle>
                            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                        </svg> Ajustes del Sitio
                    </a>
                    <a href="#wpsettings"
                       data-toggle="tab"
                       class="nav-item nav-link has-icon nav-link-faded">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512" style="fill: #008cce" class="feather feather-user mr-2" fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <circle cx="12" cy="12" r="3"></circle>
                            <path d="M256 48V64c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H256zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zM160 320h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H96c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z" />
                        </svg> Ajustes de Contacto
                    </a>


                </nav>
            </div>
        </div>
        <div class="card shadow mb-4 my-2">
            <div class="card-header py-3">
                <h4 class="text-danger align-content-center fw-bold m-0">Importante!!</h4>
            </div>
            <div>
                <img class="w-100 img-fluid rounded" src="~/assets/img/anuncios/SmileSoft.png" alt="Slide Image">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header border-bottom mb-3 d-flex d-md-none">
                <ul class="nav nav-tabs card-header-tabs nav-gap-x-1"
                    role="tablist">
                    <li class="nav-item">
                        <a href="#sitesettings" data-toggle="tab" class="nav-link has-icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-settings">
                                <circle cx="12" cy="12" r="3"></circle>
                                <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                            </svg>
                        </a>
                        <a href="#wpsettings" data-toggle="tab" class="nav-link has-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512" style="fill: #008cce" class="feather feather-user mr-2" fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round">
                                <circle cx="12" cy="12" r="3"></circle>
                                <path d="M256 48V64c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H256zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zM160 320h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H96c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z" />
                            </svg>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="card-body tab-content">
                <!-- Ajustes del Sitio -->
                <div class="tab-pane active" id="sitesettings">
                    <h6>Opciones del Sitio</h6>
                    <hr />
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Logos del Sitio</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <form>

                                        <div class="mb-3">
                                            <label for="ChangeLogo" class="form-label"><span id="ChangeLogoLabel">Cambiar Logo del Login</span></label>
                                            <input class="form-control" type="file" id="ChangeLogo" accept=".jpg, .png" disabled>
                                            <div class="mb-3 my-2 "><button class="btn btn-primary btn-en-desarrollo" type="submit" disabled>Subir</button></div>

                                        </div>
                                    </form>
                                </div>
                                <div class="col">
                                    <form>
                                        <div class="mb-3">
                                            <label for="logoInput" class="form-label">Cambiar Logo Menu Principal</label>
                                            <input class="form-control" type="file" id="logoInput" accept=".jpg, .png">
                                            <div class="mb-3 my-2">
                                                <button class="btn btn-primary" type="button" id="updateLogo">Subir</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Colores del Sitio</p>
                        </div>
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="card-body shadow align-content-center justify-content-center">
                                        <form>
                                            <div class="form-group">
                                                <label for="BackgroundColor" class="form-label"> Cambiar Color Fondo del Sitio</label>
                                                <input type="color" class="form-control form-control-color" id="BackgroundColor" value="#563d7c" title="Escoger Color" style="width: 6.5rem;">
                                            </div><button type="button" class="btn btn-primary my-2 btn-en-desarrollo">
                                                Actualizar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="card-body shadow align-content-center justify-content-center">
                                        <form>
                                            <div class="form-group">
                                                <label for="SidebarColor">Cambiar Color de la Barra Lateral</label>
                                                <input type="color" class="form-control form-control-color" id="SidebarColor" value="#be1522" title="Escoger Color" style="width: 6.5rem;" />
                                            </div><button type="button" class="btn btn-primary my-2 btn-en-desarrollo">
                                                Actualizar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="card-body shadow align-content-center justify-content-center">
                                        <form>
                                            <div class="form-group">
                                                <label for="NavbarColor">Cambiar Color de la Barra Superior</label>
                                                <input type="color" class="form-control form-control-color" id="NavbarColor" value="#be1522" title="Escoger Color" style="width: 6.5rem;" />
                                            </div>
                                            <button type="button" class="btn btn-primary my-2 btn-en-desarrollo">
                                                Actualizar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Ajustes del -->

                <div class="tab-pane" id="wpsettings">
                    <h6>Ajustes de Contacto</h6>
                    <hr />
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Whatsapp</p>
                        </div>
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="card-body shadow align-content-center justify-content-center">
                                        <form>
                                            <div class="form-group">
                                                <label for="wpNumber" class="form-label"> Cambiar Número Contacto Whatsapp</label>
                                                <input type="number" class="form-control" id="wpNumber">
                                            </div><button type="button" class="btn btn-primary my-2">
                                                Actualizar
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        let userRole = sessionStorage.getItem('userRole');
        if (userRole !== '1') {
            logoutUser();
        }




        document.getElementById('updateLogo').addEventListener('click', function () {
            // Obtener el archivo seleccionado
            const fileInput = document.getElementById('logoInput');
            const file = fileInput.files[0];

            if (file) {
                // Crear una URL para la imagen seleccionada
                const objectURL = URL.createObjectURL(file);

                // Actualizar la fuente de la imagen en la barra de navegación
                document.getElementById('navLogo').src = objectURL;

                // Aquí puedes enviar la imagen al servidor para guardarla
                // y asignarle un nombre único en tu directorio de imágenes.
                // Luego, actualiza la fuente de la imagen en el servidor.

                // También puedes considerar la posibilidad de almacenar la
                // ruta de la imagen en tu base de datos para recuperarla
                // cuando sea necesario.
            }
        });
        // Cambiar el color de fondo
        $("#BackgroundColor").on("input", function () {
            const color = $(this).val();
            console.log("Aplicando color a Fondo");
            // $("#SiteContainerRender").css("background-color", color);
            $("#content-wrapper").css("background-color", color);
        });
        // Cambiar el color de la barra lateral
        $("#SidebarColor").on("input", function () {
            const color = $(this).val();
            console.log("Aplicando color a SideBar");
            $("#sidebar").css("background-color", color);
        });
        // Cambiar el color de la barra lateral
        $("#NavbarColor").on("input", function () {
            const color = $(this).val();
            console.log("Aplicando color a Barra Superior");
            $("#nav_bar").removeClass("bg-primary");
            $("#nav_bar").css("background-color", color);
        });
    </script>

    <script>
        // Agrega un manejador de eventos para la clase "btn-en-desarrollo"
        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll(".btn-en-desarrollo");
            event.preventDefault();
            buttons.forEach(function (button) {
                button.addEventListener("click", function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Esta Función esta en Desarrollo!',
                        confirmButtonColor: '#008dc9'
                    })
                });
            });
        });
    </script>

    <script>
        // Obtén el enlace de WhatsApp y el campo de entrada por sus IDs
        const whatsappLink = document.getElementById("whatsappLink");
        const wpNumberInput = document.getElementById("wpNumber");

        // Agrega un escuchador de eventos al campo de entrada para detectar cambios
        wpNumberInput.addEventListener("input", function () {
            // Obten el valor actual del campo de entrada
            const nuevoNumero = wpNumberInput.value;

            // Actualiza el enlace de WhatsApp con el nuevo número
            whatsappLink.href = `https://api.whatsapp.com/send?phone=${nuevoNumero}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20.`;
        });
    </script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script type="text/javascript"></script>
}

