
<div class="container">
    @* <h1>Registro de Servicios</h1> *@
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>UserId</th>
                <th>UserRol</th>
                <th>UserName</th>
                <th>UserLoginName</th>
                <th>UserAction</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="service-records">
        </tbody>
    </table>
</div>