<h5 class="text-primary">Ajustes de Contacto</h5>
<hr />
<div class="card shadow mb-3">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Whatsapp</p>
    </div>
    <div class="card-body shadow">
        <div class="row ">
            <div class="col-md-12">
                <div class="align-content-center justify-content-center">
                    <form>
                        <div class="form-group">
                            <label for="wpNumber" class="form-label"> Cambiar Número Contacto Whatsapp</label>
                            <input type="number" class="form-control" id="wpNumber" maxlength="12">
                        </div><button type="button" class="btn btn-primary my-2" id="updateWP">
                            Actualizar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>