
<div class="container">
    @* <h1>Registro de Servicios</h1> *@
    <table>
        <thead>
            <tr>
                <th>uID</th>
                <th>uName</th>
                <th>uLoginName</th>
                <th>utID</th>
                <th>logAction</th>
                <th>logDescription</th>
                <th>logCreationDate</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>