
<div class="container">
    @* <h1>Registro de Servicios</h1> *@
    <div class="card">
        <div class="card-header text-bg-primary">
            Logs Servicios
        </div>
        <div class="card-body">
            <!-- Aquí va la tabla -->
            <div class="table-responsive">
                <table id="logsServicios" class="table display" width="100%"></table>
            </div>
        </div>
    </div>
</div>