<div class="modal fade  " id="clinicalHistoryModal" tabindex="-1" aria-labelledby="passwordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <spanc class="d-flex flex-row">
                    <h5 class="align-self-center mx-1" id="passwordModalLabel">Tratamientos de: </h5>
                    <h5 class="align-self-center" id="clinical-history-username"> </h5>
                </spanc>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form class="form-group mb-4 align-items-center justify-content-center mt-1 p-4"
                  id="history-clinical-modal-content">
            </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
