<h5 class="text-primary">Configurar Preguntas de Historias Clinicas</h5>
<hr />
<div class="card shadow mb-3">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Formulario historia clínica</p>
    </div>
    <div class="card-body">
        <div class="row">
            <h4 class="text-center">Creador dinámico de preguntas</h4>
            <div class="form-group mb-2">
                <label for="question-type">Seleccione el Tipo de Pregunta:</label>
                <select class="form-control" id="question-type">
                    <option value="open">Abierta</option>
                    <option value="close">Cerrada</option>
                    <option value="multiple">Multiple</option>
                   @*  <option value="fileUpload">Imagen</option> *@
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="question">Título de la pregunta:</label>
                <input type="text" class="form-control" id="question" />
            </div>
            <div class="form-group option-container mb-2 d-none ">
                <label for="options">Opciones:</label>
                <div id="options-container"></div>
                <button type="button" class="btn btn-warning mt-2" id="add-option">
                    Agregar Opción
                </button>
            </div>
            <button type="button" class="btn btn-primary mt-2 mb-2" id="add-question">
                Agregar pregunta
            </button>
        </div>
    </div>
</div>
<hr />
<div class="card shadow mb-3">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Lista de Preguntas Configuradas</p>
    </div>
    <div class="card-body">
        <div class="row">

            @* <h2 class=" mt-2 mb-2 text-center">Tu lista de preguntas configuradas</h2> *@

            <form class="form-group mb-4" id="create-clinic-form-history"></form>

            <button type="button" class="btn btn-primary mt-2 mb-2 d-none" id="save-all-questions">
                Guardar todas las preguntas
            </button>
        </div>
    </div>
</div>
