<!DOCTYPE html>
<html lang="es" >
 <!-- data-bs-theme="dark" -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSmileSoft</title>
    <!-- Theme -->
    <script>
        (function () {

            // JavaScript snippet handling Dark/Light mode switching

            const getStoredTheme = () => localStorage.getItem('theme');
            const setStoredTheme = theme => localStorage.setItem('theme', theme);
            const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

            const getPreferredTheme = () => {

                if (forcedTheme) return forcedTheme;

                const storedTheme = getStoredTheme();
                if (storedTheme) {
                    return storedTheme;
                }

                const pageTheme = document.documentElement.getAttribute('data-bs-theme');

                if (pageTheme) {
                    return pageTheme;
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme);
                }
            }

            setTheme(getPreferredTheme());

            const showActiveTheme = (theme, focus = false) => {
                const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

                if (!themeSwitchers.length) return;

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active');
                    element.setAttribute('aria-pressed', 'false');
                });

                for (const themeSwitcher of themeSwitchers) {

                    const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                    if (btnToActivate) {
                        btnToActivate.classList.add('active');
                        btnToActivate.setAttribute('aria-pressed', 'true');
                    }
                }
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme();
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme());
                }
            });

            window.addEventListener('DOMContentLoaded', () => {
                showActiveTheme(getPreferredTheme());

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const theme = toggle.getAttribute('data-bs-theme-value');
                            setStoredTheme(theme);
                            setTheme(theme);
                            showActiveTheme(theme);
                        })
                    })
            });
        })();
    </script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" asp-append-version="true">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/assets/css/Nunito.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/site.css" asp-append-version="true" />
    <link href="~/assets/css/loader.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" asp-append-version="true">

    <!-- Custom Icons for this template -->
    <link href="~/assets/css/footer-clean-icons.css" rel="stylesheet" />

    <!-- Custom Animations for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" asp-append-version="true">

    <!-- Custom Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" asp-append-version="true"></script>

    <!-- Bootstrap Table CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.css">

    <!-- Bootstrap Table JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>


</head>

<body id="page-top contenido">
    <div id="wrapper">
        <!-- Sidebar -->
        @await Component.InvokeAsync("Sidebar")
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="back">
                <!-- TopBar -->
                @await Component.InvokeAsync("Navbar")
                <div class="container-fluid">
                    <!-- Page Content -->
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <!-- Footer -->
            @*await Component.InvokeAsync("Footer")*@
        </div>
    </div> @* <a class="border rounded d-inline scroll-to-top" href="#page-top" style="display:none"><i class="fas fa-angle-up" style="display:none"></i></a> *@


    <!-- Custom Theme Script -->
    <script src="~/assets/js/theme.js" asp-append-version="true"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" asp-append-version="true"></script>

    <!-- Custom scripts for all pages -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" asp-append-version="true"></script>
    <script src="~/assets/js/UserSessionControl.js" asp-append-version="true"></script>
    <script src="~/assets/js/AlertDesarrollo.js" asp-append-version="true"></script>

    <script>
        function checkTokenAndRedirect() {
            // Verifica si existe un token en sessionStorage u otras condiciones de autenticación
            const token = sessionStorage.getItem('accessToken'); // Reemplaza 'token' con el nombre real de tu token en sessionStorage
            console.log("Validando Token: " + token);
            if (!token) {
                // No se encontró un token, redirige al usuario a la página de inicio de sesión
                window.location.href = '/Account/Login'; // Reemplaza con la URL correcta
            }
        }

        // Llama a la función para verificar el token cuando carga la página
        checkTokenAndRedirect();

        // Llama a la función para verificar el token cada minuto
        setInterval(checkTokenAndRedirect, 60000); // 60000 milisegundos = 1 minuto

        // Resto del contenido de tu página aquí
    </script>

    <script>
        function CerrarSesion() {
            console.log("Cerrando Sesión");
            // Borra el Session Storage
            sessionStorage.clear();
            window.location.href = '/Account/Login';
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Recupera el nombre y apellido del usuario desde sessionStorage
            var userFName = sessionStorage.getItem('userFName');
            var userLName = sessionStorage.getItem('userLName');

            // Verifica si las variables tienen valores
            if (userFName !== null && userLName !== null) {
                // Construye el nombre completo y muestra en la etiqueta <span>
                var nombreCompleto = userFName + ' ' + userLName;
                var spanNombre = document.getElementById('nombreUsuario');
                spanNombre.textContent = nombreCompleto;
            } else {
                console.log('No se encontraron datos en sessionStorage');
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            var userRole = sessionStorage.getItem('userRole');
            console.log("userRole: " + userRole);
            if (userRole == 1) {
                $("#liAdmin").css("display", "block");
                $("#liDoctor").css("display", "block");
                $("#liUser").css("display", "block");
            }
            else if (userRole == 2) {
                $("#liAdmin").hide();
                $("#liDoctor").css("display", "block");
                $("#liUser").hide();
            }
            else if (userRole == 3) {
                $("#liAdmin").hide();
                $("#liDoctor").hide();
                $("#liUser").css("display", "block");
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            var userRole = sessionStorage.getItem('userRole');
            console.log("userRole: " + userRole);
            if (userRole == 1) {
                $("#divAdmin").css("display", "block");
                $("#divDoctor").hide();
                $("#divUser").hide();
            }
            else if (userRole == 2) {
                $("#divAdmin").hide();
                $("#divDoctor").css("display", "block");
                $("#divUser").hide();
            }
            else if (userRole == 3) {
                $("#divAdmin").hide();
                $("#divDoctor").hide();
                $("#divUser").css("display", "block");
            }
            else if (userRole == 1 || userRole == 2 || userRole == 3) {
                $("#contenido").css("display", "block");
            }
        });
    </script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>