@{
    ViewData["Title"] = "ForgotPassword";
}

<section class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 d-flex flex-column align-items-center mb-4">
                                    <img src="~/assets/img/forgotpass.png" alt="Olvide Contraseña" class="img-fluid w-75">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Olvidaste tu Contraseña?</h4>
                                        <p class="mb-4">Introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu Correo Electronico..." name="email"></div>
                                        <button class="btn btn-primary d-block btn-user w-100" type="submit" onclick="Swal.fire()" id="resetpasswordbutton">Resetear Contraseña</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="small" asp-controller="Account" asp-action="Register">Registrarse</a>
                                    </div>
                                    <div class="text-center"><a class="small" asp-controller="Account" asp-action="Login">Ya tienes Cuenta? Inicia Sesión!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<script src="~/assets/js/forgotpassword.js" asp-append-version="true"></script>
}
