
@{
    ViewData["Title"] = "Solicitar una Cita";
}

<section class="container flex-grow-1">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="shadow p-5 ">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="~/assets/img/logo-2.png" class="img-fluid w-25" alt="SmileSoftLogo">
            </div>
            <div class="container mt-5">
    <h1 class="mb-4">Solicitud de Cita Odontológica</h1>
                <form id="cita-form">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre Completo:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="correo" name="correo" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="telefono" class="form-label">Número de Teléfono:</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono">
                </div>
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha de la Cita:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
        </div>
                    <button type="button" class="btn btn-primary mb-2" id="submit-btn">Solicitar Cita</button>
    </form>
                
                <div class="progress mb-4">
                    <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              
</div>
            <hr>
            <div class="text-center"><a class="small" href="@Url.Action("Login","Account")">Ya tienes Cuenta? Inicia Sesión!</a></div>
            <div class="form-check" style="display:none"><input class="form-check-input custom-control-input" type="checkbox" id="remember_me"><label class="form-check-label custom-control-label" for="remember_me">Recordarme</label></div>

        </div>
    </div>
</section>

@section Scripts{
    <script>
        // Función para calcular el progreso y actualizar la barra de progreso
        function calcularProgreso() {
            const form = document.getElementById("cita-form");
            const progressBar = document.getElementById("progress-bar");
            const camposRequeridos = form.querySelectorAll("[required]");
            const camposCompletados = Array.from(camposRequeridos).filter((campo) => campo.value !== "").length;
            const progreso = (camposCompletados / camposRequeridos.length) * 100;
            progressBar.style.width = progreso + "%";
            //progressBar.textContent = Math.round(progreso) + "%";

            // Obtener el botón de enviar
            const submitBtn = document.getElementById("submit-btn");
            // Habilitar o deshabilitar el botón de acuerdo con el progreso
            if (progreso === 100) {
                submitBtn.removeAttribute("disabled");
            } else {
                submitBtn.setAttribute("disabled", "disabled");
            }
        }

        
        // Escucha eventos de cambio en los campos del formulario
        const campos = document.querySelectorAll("input, textarea");
        campos.forEach((campo) => {
            campo.addEventListener("input", calcularProgreso);
        });
    </script>
}
