@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h6>Ajustes de Seguridad</h6>
    <hr />
    // <div class="card-body shadow">
    //     <form>
    //         <div class="row">
    //             <div class="mb-3">
    //                 <label class="form-label" for="username">
    //                     <strong>Ingresa el Nuevo Nombre de Usuario</strong>
    //                 </label><input class="form-control" type="text" id="username" placeholder="pepito.perez" name="username">
    //             </div>
    //         </div>
    //         <div class="mb-3"><button class="btn btn-primary btn-sm btn-en-desarrollo" type="submit">Cambiar Username</button></div>
    //     </form>
    // </div>
    <div class="card-body shadow my-2">
        <form>
            @*<div class="row">
                <div class="mb-3">
                    <label class="form-label" for="passwordActual">
                        <strong>Ingresa tu Antigua Contraseña</strong>
                    </label><input class="form-control" type="password" id="passwordActual" placeholder="Password123#" name="password">
                </div>
            </div>*@
            <div class="row">
                <div class="col">
                    <div class="mb-3"><label class="form-label" for="NewPassword"><strong>Ingresa Tu Nueva Contraseña</strong></label><input class="form-control" type="password" id="NewPassword" placeholder="Password123#" name="NewPassword"></div>
                </div>
                <div class="col">
                    <div class="mb-3"><label class="form-label" for="Repeat_Password"><strong>Confirma la Nueva Contraseña</strong></label><input class="form-control" type="password" id="Repeat_Password" placeholder="Password123#" name="Repeat_Password"></div>
                </div>
            </div>
            <!--
            <button class="btn btn-primary d-block btn-user w-100" type="submit" id="changePassword" onclick="validarCambioDeContraseña()"><strong>Cambiar Contraseña</strong></button>
            <div class="mb-3"><button class="btn btn-primary btn-sm btn-en-desarrollo" onclick="validarCambioDeContraseña()" type="submit">Cambiar Contraseña</button> </div>
            <div class="mb-3"><button class="btn btn-primary btn-sm btn-en-desarrollo"  type="submit">Cambiar Contraseña</button> </div>

            -->

            <div class="mb-3"><button class="btn btn-primary btn-sm" onclick="validarCambioDeContraseña()" type="submit">Cambiar Contraseña</button> </div>
        </form>
    </div>
    <hr />
}


