@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h6>Ajustes de Seguridad</h6>
    <hr />
    // <div class="card-body shadow">
    //     <form>
    //         <div class="row">
    //             <div class="mb-3">
    //                 <label class="form-label" for="username">
    //                     <strong>Ingresa el Nuevo Nombre de Usuario</strong>
    //                 </label><input class="form-control" type="text" id="username" placeholder="pepito.perez" name="username">
    //             </div>
    //         </div>
    //         <div class="mb-3"><button class="btn btn-primary btn-sm btn-en-desarrollo" type="submit">Cambiar Username</button></div>
    //     </form>
    // </div>
    <div class="card-body shadow my-2">
        <form>
            @*<div class="row">
                <div class="mb-3">
                    <label class="form-label" for="passwordActual">
                        <strong>Ingresa tu Antigua Contraseña</strong>
                    </label><input class="form-control" type="password" id="passwordActual" placeholder="Password123#" name="password">
                </div>
            </div>*@
            <div class="row">
                <div class="col">
                    <div class="mb-3"><label class="form-label" for="NewPassword"><strong>Ingresa Tu Nueva Contraseña</strong></label><input class="form-control" type="password" id="NewPassword" placeholder="Password123#" name="NewPassword"></div>
                </div>
                <div class="col">
                    <div class="mb-3"><label class="form-label" for="Repeat_Password"><strong>Confirma la Nueva Contraseña</strong></label><input class="form-control" type="password" id="Repeat_Password" placeholder="Password123#" name="Repeat_Password"></div>
                </div>
            </div>
            @*<div class="mb-3"><button class="btn btn-primary btn-sm btn-en-desarrollo" type="submit">Cambiar Contraseña</button></div>*@
            <div class="mb-3"><button class="btn btn-primary btn-sm" onclick="validarCambioDeContraseña()" type="submit">Cambiar Contraseña</button> </div>
        </form>
    </div>
    <hr />
}

@section Scripts {
    <script>
        function validarCambioDeContraseña() {
           
            console.log("validarCambioDeContraseña");
            event.preventDefault();
            let password = document.getElementById("NewPassword").value;
            let repeat_password = document.getElementById("Repeat_Password").value;

            let uID = 1;

            if (password === "") {
                Swal.fire({
                    text: 'Por favor, ingrese su nueva contraseña',
                    confirmButtonColor: '#008dc9'
                });
            } else if (repeat_password === "") {
                Swal.fire({
                    text: 'Por favor, ingrese la confirmación de la contraseña nueva',
                    confirmButtonColor: '#008dc9'
                });
            } else if (password != repeat_password) {
                Swal.fire({
                    text: 'Las contraseñas deben ser iguales',
                    confirmButtonColor: '#008dc9'
                });
            } else {

                let data = {
                    Password: password,
                    UID: uID
                };

                $.ajax({
                    type: "POST",
                    url: '@ViewBag.urlEndPoint' + '/api/Users/v1/ChangePassword',

                    data: JSON.stringify(data),
                    contentType: "application/json",
                    async: false,
                    dataType: "json",
                    success: function (response) {

                        // console.log("Solicitud exitosa. Datos enviados:", data);
                        // console.log("Respuesta del servidor:", response);
                        if (response.codeStatus == 0) {
                            Swal.fire({
                                text: "Hubo un fallo" + response.messageStatus,
                                confirmButtonColor: '#008dc9'
                            });
                            //text: "No hace nada" + response.messageStatus,
                            console.log("Solicitud exitosa. Datos enviados:", data);
                            //window.location.href = '@Url.Action("Index", "Home")';
                        } else {

                            Swal.fire({
                                text: "Hubo un fallo" + response.messageStatus,
                                confirmButtonColor: '#008dc9'
                            });
                            //alert('Inicio de sesión fallido, ' + response.messageStatus);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error.");
                    }
                });
            }
        }
    </script>
}



