<div class="container mt-5">
    <h1 class="mb-4 text-primary">Gestión de Citas</h1>
    <div class="col-md-12">
        <!-- Lista de Citas Programadas -->
        <div class="card">
            <div class="card-header text-bg-primary">
                Citas Programadas
            </div>
            <div class="card-body">
                <!-- Aquí va la tabla -->
                <div class="table-responsive">
                    <table id="citasDoctor" class="table display" width="100%"></table>
                </div>
            </div>
        </div>

        @* <div class="card mt-4">
        <div class="card-body">
        <input type="file" id="fileInput1" accept=".jpg, .jpeg, .png" />
        <button id="uploadButton1" class="btn btn-primary mt-2">Subir Archivo</button>
        <p id="message" class="mt-2"></p>
        </div>
        </div> *@

    </div>
    <hr />
    <!-- Formulario para Agendar Cita -->
    <div class="card mt-4">
        <div class="card-header text-bg-primary fs-6">
            Agendar Cita
        </div>
        <div class="card-body">
            <form>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="userDocument">Documento del Usuario</label>
                        <input type="text" class="form-control" id="userDocument" name="userDocument" placeholder="Documento del Paciente" required>
                        <button type="button" class="btn btn-primary mt-2" onclick="fngetUserData();">Buscar</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input type="date" class="form-control datepicker" id="fecha" name="fecha" placeholder="YYYY-MM-DD" required>
                        </div>
                    </div><div class="col-md-3">
                        <div class="form-group">
                            <label for="hora">Hora</label>
                            <input type="time" class="form-control timePicker" id="cHora" name="Hora"
                                   min="08:00" max="20:00" step="3600" required>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!-- Selector Doctores Disponibles -->
                        <div class="form-group">
                            <label for="selEspecialidad">Especialidad</label>
                            <select class="form-control" id="selEspecialidad" name="RequesanAppointment" onchange="fncheckDoctor(this)" required>
                                <option value="0">Seleccionar Especialidad</option>
                                <option value="1">Odontología general</option>
                                <option value="2">Endodoncia</option>
                                <option value="3">Cirugía oral</option>
                                <option value="4">Ortodoncia</option>
                                <option value="5">Odontopediatría</option>
                                <option value="6">Periodoncia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cDoctor" class="form-label mb-0">Doctor</label>
                            <select class="form-control" id="cDoctor" name="RequesanAppointment" disabled>
                                <option value="0">Seleccionar Doctor</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <label for="mensaje" class="form-label">Motivo:</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="2"></textarea>
                </div>
                <button type="button" class="btn btn-primary" onclick="SolicitarCitaPaciente();">Agendar Cita</button>
            </form>
        </div>
    </div>
</div>


<div class="modal fade  " id="clinicalHistoryModal" tabindex="-1" aria-labelledby="passwordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <spanc class="d-flex flex-row">
                    <h5 class="align-self-center" id="passwordModalLabel">Historia clínica de: </h5>
                    <h5 class="align-self-center" id="clinical-history-username"> </h5>
                </spanc>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form class="form-group mb-4 align-items-center justify-content-center mt-1 p-4"
                  id="history-clinical-modal-content">
                <input type="file" id="fileInput" accept=".jpg, .jpeg, .png" />
                <button id="uploadButton" class="btn btn-primary mt-2">Subir Archivo</button>
            </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#loadingScreen").show();
            const today = new Date().toISOString().split('T')[0];
            document.getElementById("fecha").setAttribute("min", today);
            $('.datepicker').datepicker({
                todayHighlight: true,
                language: 'es'
            });
        });
        function fncheckDoctor(e) { var t = e.value; 0 == t ? document.getElementById("cDoctor").disabled = !0 : (fngetDoctors(t), document.getElementById("cDoctor").disabled = !1) } function obtenerFechaActualSinUTC(e) { return new Date(e.getTime() - 6e4 * e.getTimezoneOffset()).toISOString().split("T")[0] } $("#fecha").on("change", (function () { validarFecha() }));
        // const fechaActualSinUTC = obtenerFechaActualSinUTC();
        ////console.log(fechaActualSinUTC);
        function validarFecha() { const e = obtenerFechaActualSinUTC(new Date); console.log(e); const o = obtenerFechaActualSinUTC(new Date(document.getElementById("fecha").value + "T05:00:00Z")); console.log(o), o < e && (Swal.fire({ icon: "info", title: "Oops...", text: "La fecha no puede ser menor que hoy.", confirmButtonColor: "#008dc9" }), document.getElementById("fecha").value = "") }
        $('#cHora').on('focusout', function () {
            let value = $(this).val();
            value = value.substring(0, value.indexOf(':'));
            this.value = value + ':00';
        });

        function validarHora() {
            const horaIngresada = document.getElementById("cHora").value;
            const horaActual = new Date().getUTCHours();
            const fechaHoraActualMasDosHoras = new Date();
            fechaHoraActualMasDosHoras.setUTCHours(fechaHoraActualMasDosHoras.getUTCHours() + 2);

            if (horaIngresada < horaActual || horaIngresada < "08:00" || horaIngresada > "16:00" || horaIngresada > fechaHoraActualMasDosHoras.getUTCHours()) {
                //alert("La hora debe estar entre las 08:00 y las 17:00 y no puede ser menor que 2 horas desde ahora.");
                Swal.fire({
                    icon: 'info',
                    title: 'Oops...',
                    text: 'La hora debe estar entre las 08:00 AM y las 4:00 PM y puede ser maximo 2 horas antes de la cita.',
                    confirmButtonColor: '#008dc9'
                })
                document.getElementById("cHora").value = ""; // Limpia el campo de hora
            }
        }

        $("#cHora").on("change", function () {
            validarHora();
        });


        function fngetDoctors(spID) {
            $.ajax({
                type: 'GET',
                url: '@ViewBag.urlEndPoint' + '/api/Generics/v1/GetDoctors?spID=' + spID, // Ruta para crear o actualizar usuarios
                contentType: 'application/json',
                success: function (response) {
                    var select = document.getElementById("cDoctor");
                    select.options.length = 0;
                    var option = document.createElement("option");
                    option.value = 0;
                    option.text = "Seleccionar Doctor";
                    select.appendChild(option);
                    for (var i = 0; i < response.length; i++) {
                        var option = document.createElement("option");
                        option.value = response[i].value;
                        option.text = response[i].text;
                        select.appendChild(option);
                    }

                },
                error: function (error) {
                    // Manejar errores de la solicitud AJAX
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Se presento un error al obtener la información',
                        confirmButtonColor: '#008dc9'
                    })
                }
            });
        }

        function showTimePicker() {
            document.getElementById('timePicker').style.display = 'block';
        }

        function setSelectedTime() {
            const selectedHour = document.getElementById('hour').value;
            document.getElementById('cHora').value = selectedHour + ':00';
            document.getElementById('timePicker').style.display = 'none';
        }
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });

        let userData = [];

        function fngetUserData() {
            $.ajax({
                type: 'GET',
                url: '@ViewBag.urlEndPoint' + '/api/Users/v1/GetUserDetails?uDocument=' + document.getElementById("userDocument").value.trim(), // Ruta para crear o actualizar usuarios
                contentType: 'application/json',
                success: function (response) {
                    //console.log(response);
                    if (response.codeStatus === '0') {
                        // Registro exitoso, puedes redirigir al usuario o mostrar un mensaje de éxito
                        //alert('Usuario registrado con éxito.');
                        if (response.itemJson == null) {
                            Swal.fire({
                                icon: 'info',
                                title: 'Oops...',
                                text: 'El usuario no existe.',
                                confirmButtonColor: '#008dc9'
                            })
                            return;
                        } else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Usuario encontrado ',
                                text: response.itemJson.uName,
                                confirmButtonColor: '#008dc9',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                            });
                            console.log("userdata servicio: ", response.itemJson);
                            userData = response.itemJson;
                        }
                    }
                    else if (response.codeStatus === '-1') {
                        Swal.fire({
                            icon: 'info',
                            title: 'Oops...',
                            text: response.messageStatus,
                            confirmButtonColor: '#008dc9'
                        })
                    }
                }
            });
        }

        function SolicitarCitaPaciente() {

            //Datos de la Cita
            let date = document.getElementById("fecha").value.trim();
            let time = document.getElementById("cHora").value.trim() + ':00';
            let doctor = document.getElementById("cDoctor").value.trim();
            let message = document.getElementById("mensaje").value.trim();
            let userDocument = document.getElementById("userDocument").value.trim();
            //fngetUserData();
            console.log("userdata: ", userData);
            let data = {

                oID: 1,
                uID: userData.uID,
                utID: 3,
                uName: userData.uName,
                ulastName: userData.ulastName,
                uDocument: userData.uDocument,
                dtID: userData.dtID,
                uBirthDate: userData.uBirthDate,
                gID: userData.gID,
                //Datos de Contacto
                uEmailAddress: userData.uEmailAddress,
                uCellphone: userData.uCellphone,


                //Datos de la Cita
                asID: 0,
                aID: 0,
                aDate: date,
                aTime: time,
                dID: parseInt(doctor),
                aDescription: message

            };
            // si el campo userDocument esta vacio mostrar una alerta
            if (userDocument === "") {
                Swal.fire({
                    icon: 'info',
                    title: 'Oops...',
                    text: 'Por favor ingrese el documento del paciente.',
                    confirmButtonColor: '#008dc9'
                })
                return;
            } else if (data.uID === "") {
                Swal.fire({
                    icon: 'info',
                    title: 'Oops...',
                    text: 'No se a encontrado al usuario.',
                    confirmButtonColor: '#008dc9'
                })
                return;
            } else if (data.aDate == "" || data.aTime == "" || data.dID == 0 || data.aDescription == "") {
                Swal.fire({
                    icon: 'info',
                    title: 'Oops...',
                    text: 'Por favor ingrese todos los datos.',
                    confirmButtonColor: '#008dc9'
                })
                return;
            } else if (data.dID == 0) {
                Swal.fire({
                    icon: 'info',
                    title: 'Oops...',
                    text: 'Por favor seleccione una Especialidad y un doctor.',
                    confirmButtonColor: '#008dc9'
                })
                return;
            } else {

                $.ajax({
                    type: 'POST',
                    url: '@ViewBag.urlEndPoint' + '/api/Appointments/v1/SetAppointment', // Ruta para crear o actualizar usuarios
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (response) {
                        //console.log(response.OutputCodeError);
                        if (response.codeStatus === '0') {
                            // Registro exitoso, puedes redirigir al usuario o mostrar un mensaje de éxito
                            //alert('Usuario registrado con éxito.');
                            Swal.fire({
                                icon: 'success',
                                title: 'Cita Solicitada con éxito',
                                confirmButtonColor: '#008dc9',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                            })
                            location.reload();
                        } else if (response.codeStatus === '-1') {
                            Swal.fire({
                                icon: 'info',
                                title: 'Oops...',
                                text: response.messageStatus,
                                confirmButtonColor: '#008dc9'
                            })
                        }
                    },
                    error: function (error) {
                        // Manejar errores de la solicitud AJAX
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Se presento un error al guardar la información',
                            confirmButtonColor: '#008dc9'
                        })
                    }
                });
            }
        }




    </script>
    <script>
        let userRole = sessionStorage.getItem('userRole');
        if (userRole !== '2' && userRole !== '1') {
            logoutUser();
        }
        function abrirCita() {
            window.location.href = '@Url.Action("AdministrarCitas", "Doctor")';
        } //SetAppointment
        let dID = sessionStorage.getItem("doctorID");
        //console.log('ID Doctor: ', dID);
        let urlBlob = "";
        $.ajax({
            url: sessionStorage.urlEP + '/api/Appointments/v1/GetAppointmentsList',
            type: 'GET',
            // data: { 'uID': 0 },
            data: { 'dID': dID },
            contentType: "application/json",
            dataType: 'json',
            success: function (data) {
                $("#loadingScreen").hide();
                let dataSet = [];

                $.each(data.itemJson, function (index, cita) {
                    let fechaCita = cita.aDate;
                    let fechaFormateada = fechaCita.substring(0, 10);
                    let rowData = [
                        index + 1,
                        cita.aID,
                        fechaFormateada,
                        cita.uName,
                        cita.uCellphone,
                        cita.uDoctorName,
                        cita.aDescription,
                        cita.aTime,
                        cita.asName
                    ];
                    dataSet.push(rowData);
                });
                //console.log(dataSet);
                // Inicializa o actualiza el DataTable con los datos procesados
                tablecitasd = $('#citasDoctor').DataTable({
                    columnDefs: [
                        {
                            target: 0,
                            visible: true,
                            searchable: true,
                            //ordenar por fecha la tabla
                            orderData: [0, 1]
                        }
                    ],
                    columns: [
                        { title: '#', visible: false },
                        { title: 'IdCita', visible: false },
                        { title: 'Fecha' },
                        { title: 'Nombre' },
                        { title: 'Celular' },
                        { title: 'Doctor' },
                        { title: 'Motivo' },
                        { title: 'Hora' },
                        { title: 'Estado' },
                        {
                            title: 'Acciones',
                            orderable: false, // Para desactivar la ordenación en esta columna
                            data: null, // Usaremos la columna "Acciones" solo para botones
                            defaultContent: '<button class="btn btn-primary btn-sm btnDesactivarC" data-toggle="tooltip" title="Cancelar Cita" type="button"> <i class="fas fa-ban"> </i></button> ' +
                                '<button class="btn btn-warning btn-sm btnEditarC" data-toggle="modal" data-target="#editarCitaModal" data-toggle="tooltip" title="Reprogramar Cita"> <i class="fa-regular fa-pen-to-square"></i></button> ' +
                                '<button class="btn btn-success btn-sm btnFileC" data-toggle="modal" data-target="#UploadFileCitaModal" data-toggle="tooltip" title="Subir Imagen" style="display: none;"> <i class="fa-solid fa-upload fa-bounce"></i></button>'
                        }
                    ],
                    data: dataSet,
                    dom: 'Bfrtip',
                    buttons: {
                        buttons: [
                            {
                                extend: 'print', className: 'btn btn-sm',
                                messageTop: 'Tabla de Citas Programadas',
                            },
                        ]
                    },
                    select: true,
                    destroy: true,
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
                    },
                    createdRow: function (row, data, dataIndex) {
                        // Obtén el valor del estado en la columna "Estado"
                        var estado = data[8]; // Asegúrate de que 8 sea el índice correcto para la columna "Estado"

                        // Si el estado es "cancelado", oculta los botones en esta fila
                        if (estado === 'Cancelado') {
                            $(row).find('.btnDesactivarC, .btnEditarC, .btnFileC').hide();
                        }
                        // Si el estado es "realizado", oculta los botones en esta fila
                        if (estado === 'Realizado') {
                            $(row).find('.btnDesactivarC, .btnEditarC').hide();
                        }
                        if (estado === 'Confirmado') {
                            $(row).find('.btnDesactivarC').hide();
                        }
                    }
                });

                Swal.close();

                tablecitasd.column(9).nodes().to$().find('.btnDesactivarC').click(function () {
                    // Maneja la acción del botón aqui
                    let data = tablecitasd.row($(this).parents('tr')).data();
                    let CitaID = data[1]; // la primera columna contiene el ID del usuario
                    let CitaEstado = data[8];
                    if (CitaEstado == "Realizado") {
                        Swal.fire({
                            icon: 'info',
                            title: 'Oops...',
                            text: 'La cita ya fue realizada, no se puede cancelar.',
                            confirmButtonColor: '#008dc9'
                        })
                    } else if (CitaEstado == "Cancelado") {
                        Swal.fire({
                            icon: 'info',
                            title: 'Oops...',
                            text: 'La cita ya fue cancelada.',
                            confirmButtonColor: '#008dc9'
                        })
                    } else if (CitaEstado == "Confirmado") {
                        Swal.fire({
                            icon: 'info',
                            title: 'Oops...',
                            text: 'La cita ya fue confirmada, no se puede cancelar.',
                            confirmButtonColor: '#008dc9'
                        })
                    } else if (CitaEstado == "Pendiente") {
                        Swal.fire({
                            title: 'Cancelar Cita',
                            text: '¿Está seguro que desea cancelar la cita?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Si, Cancelar Cita',
                            cancelButtonText: 'Atrás'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: sessionStorage.urlEP + `/api/Appointments/v1/UpdateAppointmentStatus?uIDPetition=${uIDPetition}`,
                                    type: 'GET',
                                    data: { 'aID': CitaID, 'asID': 4 },
                                    contentType: "application/json",
                                    dataType: 'json',
                                    success: function (response) {
                                        if (response.codeStatus == 0) {
                                            Swal.fire({
                                                title: 'Cita Cancelada',
                                                text: 'La cita ha sido Cancelada exitosamente.',
                                                icon: 'success',
                                                confirmButtonText: 'Aceptar'
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    location.reload();
                                                }
                                            })
                                        }
                                        else if (response.codeStatus == -1) {
                                            Swal.fire({
                                                title: 'Error',
                                                text: response.messageStatus,
                                                icon: 'error',
                                                confirmButtonText: 'Aceptar'
                                            })
                                        }

                                    },
                                    error: function (error) {
                                        //console.log('Error al obtener los detalles del usuario.');
                                    }

                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.reload();
                                    }
                                })
                            }
                        })
                    }

                });
                tablecitasd.column(9).nodes().to$().find('.btnFileC').click(async function () {
                    // Maneja la acción del botón aqui
                    let data = tablecitasd.row($(this).parents('tr')).data();
                    let CitaID = data[1]; // la primera columna contiene el ID del usuario
                    //console.log("CitaID:", CitaID);
                    Swal.fire({
                        title: 'Select image',
                        input: 'file',
                        inputAttributes: {
                            'accept': 'image/*',
                            'aria-label': 'Upload your profile picture'
                        },
                        showCancelButton: true, // Add this if you want a cancel button
                        inputValidator: (file) => {
                            if (!file) {
                                return 'Tienes que elegir una imagen';
                            }
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            const reader = new FileReader();
                            reader.onload = (e) => {
                                uploadFile(result.value, CitaID); // Call the uploadFile function with the selected file
                                Swal.fire({
                                    title: 'Your uploaded picture',
                                    imageUrl: e.target.result,
                                    imageAlt: 'The uploaded picture'
                                });
                            };
                            reader.readAsDataURL(result.value);
                        }
                    });

                });
                tablecitasd.column(9).nodes().to$().find('.btnEditarC').click(async function () {
                    // Maneja la acción del botón aqui
                    let data = tablecitasd.row($(this).parents('tr')).data();
                    let CitaID = data[1]; // la primera columna contiene el ID del usuario
                    selectAppointment = CitaID;
                    const { value: citaState } = await Swal.fire({
                        title: 'Seleccionar estado de la cita',
                        input: 'select',
                        inputOptions: {
                            '1': 'Pendiente',
                            '2': 'Confirmada',
                            '3': 'Completada'
                        },
                        inputPlaceholder: 'Selecciona el estado de la cita',
                        showCancelButton: true,
                        html: "<div id='form-history-content'></div>",
                        confirmButtonColor: '#008dc9',
                        didOpen: function (ele) {
                            $(ele).find('.swal2-select').insertBefore($(ele).find('.swal2-content div'));
                            Swal.getInput().addEventListener('change', (event) => {
                                if (event.target.value == 3) {
                                    $("#form-history-content").append('<button type="button" class="btn btn-primary" id="createFormHistory">Agregar historia clínica</button>');
                                    $("#createFormHistory").click(() => createFormHistory(CitaID));
                                    //swalUploadTratamiento(CitaID);
                                } else {
                                    $("#form-history-content").empty();
                                    //console.log('Guardar cambios', event.target.value);
                                    changeDateStatus(event.target.value, CitaID);
                                }
                            })
                        },
                        inputValidator: (value) => {
                            return new Promise((resolve) => {
                                if (value > 0) {
                                    //console.log(value)

                                    // alert(value);
                                    //resolve(value); // Si se selecciona un estado, resolvemos con ese valor
                                    //changeDateStatus(value, CitaID);
                                } else {
                                    resolve('Debes seleccionar un estado de cita.');
                                }
                            });
                        }
                    });

                });

            },
            error: function (error) {
                //console.log('Error al obtener los detalles del usuario.');
            }
        });
        function createFormHistory(citaID) {
            //console.log(citaID);
            Swal.close();
            // TODO hacer petición para obtener la estructura del formulario

            let structure = [];

            $.ajax({
                url: sessionStorage.urlEP + '/api/Generics/v1/GetUsersClinicStoryFormat?oID=1',
                type: 'GET',
                contentType: "application/json",
                dataType: 'json',
                async: false,
                success: function ({ itemJson, codeStatus }) {
                    if (codeStatus == 0) {
                        //structure = JSON.parse(itemJson);
                        let structureObject = JSON.parse(itemJson);
                        structure = structureObject;
                    }
                    else if (response.codeStatus == -1) {
                        Swal.fire({
                            title: 'Error',
                            text: response.messageStatus,
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#008dc9'
                        })
                    }
                }
            })


            let questionTypes = {
                'open': function (question) {
                    let inputField = $(`<input type="text" id="${question.id}" class="form-control"></input><br>`);

                    let container = $('<div class="form-group"></div>').append(
                        `<label class="text-primary m-0 fw-bold" for="${question.id}">` + question.name + '</label><br>', inputField);

                    return container
                },
                'close': function (question) {

                    let checkBox1 = $(`<input class="form-check-input" id="${question.id}" type="checkbox" >`).attr('name', "checkbox-close-question");

                    let label1 = $(`<label class="form-check-label" for="${question.id}">`).text("SI");

                    let checkBox2 = $(`<input class="form-check-input" id="${question.id}0" type="checkbox">`).attr('name', "checkbox-close-question");

                    let label2 = $(`<label class="form-check-label" for="${question.id}0">`).text("NO");

                    let container1 = $('<div class="form-check form-check-inline"></div>').append(checkBox1, label1);

                    let container2 = $('<div class="form-check form-check-inline"></div>').append(checkBox2, label2);

                    let container = $('<div class="card-header"></div>').append(`<p class="text-primary m-0 fw-bold">${question.name}</p>`, container1, container2);

                    return container;
                },
                'multiple': function (question) {
                    let options = $(`<select class="form-select" id="${question.id}" multiple></select>`);

                    question.options.forEach(function (option) {
                        options.append('<option value="' + option + '">' + option + '</option>');
                    });

                    let container = $('<div class="card-header py-3"></div>').append(`<p class="text-primary m-0 fw-bold">${question.name}</p>`, options)

                    return container
                },
                'fileUpload': function (question) {
                    let inputField = $(`<div class="col-10"><input placeholder="Imagen" type="file" id="uploadIMG" accept=".jpg , .png" class="form-control uploadIMG"></input><br></div>`);

                    let container = $('<div class="row"><div class="form-group">').append(
                        `<label class="text-primary m-0 fw-bold" for="${question.id}">`
                        + `Imagen # ${question.id}: ` + question.name +
                        '</label><br>', inputField, `<div class="col-2"><button class="btn btn-primary btnFileUpload" type="button" id="btnFileUpload"> Subir </button></div></div>`);

                    return container
                }
            };

            let form = $('<form class="form-group" id="create-form-history"></form>');

            $(document).on('click', '.btnFileUpload', function () {

                let citaID = selectAppointment;
                let file = $(this).parent().parent().find('.uploadIMG').prop('files')[0];
                let formData = new FormData();
                formData.append('file', file);
                $.ajax({
                    url: `${sessionStorage.urlEP}/api/Blobs/upload?citaID=${citaID}&genericName=cita_${citaID}`,
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('#uploadIMG').attr('type', 'text');
                        $('#uploadIMG').prop('disabled', true);
                        $('.btnFileUpload').hide();
                        $('#uploadIMG').val(response);
                        //console.log("valor del input: ", $('#uploadIMG').val());
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error',
                            text: 'Por favor revise el formato de su archivo, e intente nuevamente.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#008dc9'
                        })
                    }
                });
            });

            let finalStructure = [];
            structure.forEach(function (question, index) {
                let questionContainer = $('<div class="question"></div>');

                if (question.type in questionTypes) {
                    let inputElement = questionTypes[question.type](question);
                    question.id = index + 1;
                    finalStructure.push(question);
                    questionContainer.append(inputElement);
                    form.append(questionContainer);
                } else {
                    console.error('Tipo de pregunta no válido: ' + question.type);
                }
            });
            // form.css({
            //     'display': 'grid',
            //     'grid-template-columns': '1fr 1fr',
            //     'grid-gap': '10px'
            // });
            Swal.fire({
                title: 'Agregar historia clínica',
                confirmButtonText: 'Confirmar',
                html: form,
                focusConfirm: false,
                allowOutsideClick: false,
                width: '50%',
                confirmButtonColor: '#008dc9',
            }).then((result) => {
                if (result.isConfirmed) {
                    finalStructure = finalStructure.map((question) => {
                        let value = $(`#${question.id}`).val()
                        if (question.type == 'close') {
                            value = $(`#${question.id}:checked`).val() == 'on' ? 'SI' : 'NO';
                        }
                        if (question.type == 'fileUpload') {
                            value = $('#uploadIMG').val();
                        }
                        return {
                            ...question, value
                        }

                    });
                    saveHistoryForm(finalStructure, citaID);
                }
            })
        }

        function saveHistoryForm(form, CitaID) {
            form = '{"data": ' + JSON.stringify(form) + '}'; //NO EDITAR ESTA ESTRUCTURA A MENOS QUE SE VAYA A AJUSTAR EL SERVICIO
            $.ajax({
                url: sessionStorage.urlEP + `/api/Generics/v1/SetUsersClinicStoryFormat?uIDPetition=${uIDPetition}&aID=${CitaID}`,
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                data: JSON.stringify(form),
                success: function (response) {
                    //console.log(response)
                    if (response.codeStatus == 0) {
                        Swal.fire({
                            title: 'Historia Clinica Creada',
                            icon: 'info',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#008dc9'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                changeDateStatus(3, CitaID);
                                // swal.close();
                                // location.reload();
                            }
                        })
                    }
                    else if (response.codeStatus == -1) {
                        Swal.fire({
                            title: 'Error',
                            text: response.messageStatus,
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#008dc9'
                        })
                    }
                },
                error: function (error) {
                    //console.log('Error al obtener los detalles del usuario.');
                }

            }).then((result) => {
                if (result.isConfirmed) {
                    location.reload();
                }
            })
        }



        function changeDateStatus(citaState, CitaID) {
            // Aquí puedes realizar la solicitud AJAX con el valor de citaState
            ////console.log(`Estado de cita seleccionado: ${citaState}`);

            $.ajax({
                url: sessionStorage.urlEP + `/api/Appointments/v1/UpdateAppointmentStatus?uIDPetition=${uIDPetition}`,
                type: 'GET',
                data: { 'aID': CitaID, 'asID': citaState },
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    if (response.codeStatus == 0) {
                        Swal.fire({
                            title: response.messageStatus,
                            icon: 'info',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                swal.close();
                                location.reload();
                            }
                        })
                    }
                    else if (response.codeStatus == -1) {
                        Swal.fire({
                            title: 'Error',
                            text: response.messageStatus,
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        })
                    }

                },
                error: function (error) {
                    //console.log('Error al obtener los detalles del usuario.');
                }

            }).then((result) => {
                if (result.isConfirmed) {
                    location.reload();
                }
            })
        }

        function mostrarCargando() {
            Swal.fire({
                title: 'Cargando',
                text: 'Por favor, espere un momento...',
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
        }

        function uploadFile(file, CitaID) {
            //console.log("Función uploadFile ejecutada.");
            const formData = new FormData();
            formData.append("file", file);

            // URL del servicio de carga de blobs (reemplaza con tu URL)
            const uploadUrl = `${sessionStorage.urlEP}/api/Blobs/upload?citaID=${CitaID}`;
            //console.log('dato enviado ', formData);
            fetch(uploadUrl, {
                method: "POST",
                body: formData,
            })
                .then((response) => {
                    if (response.ok) {
                        ////console.log("Archivo cargado exitosamente.");
                        //showMessage("Archivo cargado exitosamente.", "green");
                        Swal.fire({
                            title: 'Archivo cargado exitosamente.',
                            icon: 'success',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            console.log("Blob response: ", response);
                            urlBlob = response;
                            // if (result.isConfirmed) {
                            //     location.reload();
                            // }
                        })

                    } else {
                        ////console.log("Error al cargar el archivo.");
                        //showMessage("Error al cargar el archivo.", "red");
                        Swal.fire({
                            title: 'Error al cargar el archivo.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        })
                    }
                })
                .catch((error) => {
                    //showMessage("Error de red al cargar el archivo.", "red");
                    Swal.fire({
                        title: 'Por favor revise el formato de su archivo, e intente nuevamente.',
                        icon: 'info',
                        confirmButtonText: 'Aceptar'
                    })
                });
        }


        function showMessage(text, color) {
            message.textContent = text;
            message.style.color = color;
        }

        document.getElementById("uploadButton").addEventListener("click", uploadFile);


        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });

    </script>

    }