@{
    ViewData["Title"] = "Doctor";
}

<section>
    <div class="row d-sm-flex justify-content-center align-items-center mb-4">
        <div class="col-lg-4 col-md-6 mb-2">
            <a class="nav-link" asp-controller="Doctor" asp-action="GestiondeCitas" class="text-decoration-none" id="citasregistradas">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Citas</span></div>
                                <div class=" fw-bold h5 mb-0"><span class="align-items-center" id="dateCount"></span></div><!-- Cargar datos de la base de datos -->
                            </div>
                            <div class="col-auto"><i class="fa-solid fa-user fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-2">
            <a class="nav-link" asp-controller="Doctor" asp-action="HistoriasClinicas" class="text-decoration-none" id="patientAtt">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Pacientes Atendidos</span></div>
                                <div class="fw-bold h5 mb-0"><span id="dateComplete"></span></div><!-- Cargar datos de la base de datos -->
                            </div>
                            <div class="col-auto"><i class="fa-solid fa-user-doctor fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-2">
            <div class="card shadow border-start-success py-2" id="datesPendientes">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Pacientes Pendientes</span></div>
                            <div class=" fw-bold h5 mb-0"><span id="datePending"></span></div><!-- Cargar datos de la base de datos -->
                        </div>
                        <div class="col-auto"><i class="fa-solid fa-user-shield fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex row col-md-12 justify-content-center align-content-center text-primary">
        <!-- Vista de Citas -->
        <div class="col-md-3" style="display:none">
            <section id="citas">
                <h2>Citas Programadas</h2>
                <!-- Calendario de citas -->
                <div id="calendar"></div>
            </section>
        </div> <div class="col-md-12">
            <div class="card">
                <div class="card-header text-bg-primary">
                    Próximas Citas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="citasDoctores">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>

        const driver = window.driver.js.driver;

        const driverObj = driver({
            showProgress: true,
            showButtons: [
                'next',
                'previous',
                'close'
            ],
            steps: [
                {
                    element: '.wrapper',
                    popover: {
                        title: 'Bienvenido a Smilesoft',
                        description: 'Este es el área principal de Smilesoft. Te guiaremos a través de las diversas funcionalidades de nuestro sitio para asegurarnos de que aproveches al máximo tu experiencia.'
                    }
                },
                {
                    element: '#nav_bar',
                    popover: {
                        title: 'Barra Superior',
                        description: 'La Barra Superior es tu punto central de navegación. Desde aquí, puedes acceder a tu perfil para actualizar tus datos.'
                    }
                },
                {
                    element: '#MenuPerfil',
                    popover: {
                        title: 'Perfil',
                        description: 'Accede a los ajustes de tu perfil desde este menú. Al hacer clic, se mostrarán las opciones de perfil, permitiéndote personalizar tu cuenta según tus preferencias.'
                    },
                    onNextClick: () => {
                        //añadir la clase show al elemento id=ShowProfileMenu y cambiar el aria-expanded a true
                        document.getElementById('ShowProfileMenu').classList.add('show');
                        document.getElementById('ShowProfileMenu').setAttribute('aria-expanded', 'true');
                        driverObj.moveNext();
                    },
                },
                //{ element: '#ShowProfileMenu', popover: { title: 'Perfil', description: 'Desde aqui podremos acceder a los ajustes de nuestro perfil' } },
                {
                    element: '.sidebar',
                    popover: {
                        title: 'Menú de Opciones',
                        description: 'El Menú de Opciones muestra los diferentes aplicativos de nuestro software. Explora las diversas funciones que ofrecemos para mejorar tu experiencia con Smilesoft.'
                    }
                },
                //{ element: '#divAdmin', popover: { title: 'Opciones Administrador', description: 'Estas son las rutas que podra usar el administrador del aplicativo' } },
                
                {
                    element: '.AdminAppointments',
                    popover: {
                        title: 'Gestion de Citas',
                        description: 'Accede a todas las citas registradas en nuestro Aplicativo. Este panel te permite gestionar y dar seguimiento a las citas programadas de manera eficiente.'
                    }
                },
                {
                    element: '.ClinicHistory',
                    popover: {
                        title: 'Historias Clínicas',
                        description: 'Explora las historias clínicas de los usuarios desde esta opción. Accede a información médica relevante para garantizar un seguimiento preciso de la salud de los pacientes.'
                    }
                },
                {
                    element: '.logoutUsers',
                    popover: {
                        title: 'Cerrar Sesión',
                        description: 'Cierra tu sesión fácilmente desde este enlace cuando hayas terminado de utilizar Smilesoft. Garantizamos la seguridad de tu cuenta con este sencillo paso.'
                    }
                },
                {
                    element: '#citasregistradas',
                    popover: {
                        title: 'Citas Registradas',
                        description: 'Accede a un resumen de todas las citas registradas en nuestro Aplicativo. Este panel te permite gestionar y dar seguimiento a las citas programadas de manera eficiente.'
                    }
                },
                {
                    element: '#patientAtt',
                    popover: {
                        title: 'Pacientes Atendidos',
                        description: 'Este panel muestra la lista de todos los pacientes que han sido Atendidos en nuestro Aplicativo por el Doctor Actual. Puedes acceder a información detallada de las citas aqui.'
                    }
                },
                {
                    element: '#datesPendientes',
                    popover: {
                        title: 'Citas Pendientes',
                        description: 'Aquí tienes el total de citas pendientes registradas en el Aplicativo.'
                    }
                },
                

                {
                    element: '.wrapper', popover: { title: 'Gracias por Usar Smilesoft', description: '' }, onDeselected: () => {
                        localStorage.setItem('tutorial', true);
                    }
                },

            ],


        });
        //debugger;
        //driverObj.drive();
        //console.log("Tutorial", localStorage.getItem('tutorial'));
        // Cuando el usuario inicia sesión por primera vez
        let tutorialState = localStorage.getItem('tutorial');
        if (tutorialState === "false") {
            // Mostrar el tutorial
            localStorage.setItem('tutorial', true);
            driverObj.drive();

            // Establecer la variable para indicar que el usuario ha visto el tutorial

        }

    </script>
    <script>
        let userRole = sessionStorage.getItem('userRole');
        if (userRole !== '2') {
            logoutUser();
        }
        $(document).ready(function () {
            //verifyToken();
            let dID = sessionStorage.getItem("doctorID");
            getUserCitas(dID);
            $("#loadingScreen").show();


        });
        function getUserCitas(dID) {
            // Realizar solicitud AJAX para obtener la lista de usuarios
            // var utID = 1;
            mostrarCargando();

            $.ajax({
                url: sessionStorage.urlEP + '/api/Appointments/v1/GetAppointmentsList',
                type: 'GET',
                // data: { 'uID': 0 },
                data: { 'dID': dID },
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    $("#loadingScreen").hide();
                    ////console.log("Respuesta del Servidor " + data);
                    // Procesar los datos recibidos y agregar filas a la tabla
                    let dataSet = [];
                    let users = data.itemJson;
                    //console.table(users);
                    if (users !== null) {
                        $("#dateCount").text(users.length);
                    }
                    let citasPendientes = 0; // Inicializa el contador de citas pendientes
                    let citasRealizadas = 0; // Inicializa el contador de citas pendientes
                    $.each(data.itemJson, function (index, cita) {
                        let fechaCita = cita.aDate;
                        let fechaFormateada = fechaCita.substring(0, 10);
                        let rowData = [
                            index + 1,
                            cita.aID,
                            cita.uName,
                            cita.uCellphone,
                            cita.uDoctorName,
                            cita.aDescription,
                            fechaFormateada,
                            cita.aTime,
                            cita.asName
                        ];
                        dataSet.push(rowData);
                        if (cita.asName === "Pendiente") {
                            citasPendientes++; // Incrementa el contador de citas pendientes
                        }
                        if (cita.asName === "Realizado") {
                            citasRealizadas++; // Incrementa el contador de citas pendientes
                        }
                    });
                    $("#datePending").text(citasPendientes);
                    $("#dateComplete").text(citasRealizadas);
                    // Inicializa o actualiza el DataTable con los datos procesados
                    tableCitas = $('#citasDoctores').DataTable({
                        columns: [
                            { title: '#' },
                            { title: 'IdCita', visible: false },
                            { title: 'Nombre' },
                            { title: 'Celular' },
                            { title: 'Doctor' },
                            { title: 'Motivo' },
                            { title: 'Fecha' },
                            { title: 'Hora' },
                            { title: 'Estado' },
                        ],

                        data: dataSet,
                        "paging": false,
                        select: true,
                        destroy: true,
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
                        },

                    });
                    Swal.close();


                }
            });
        };
        function mostrarCargando() {
            Swal.fire({
                title: 'Cargando',
                text: 'Por favor, espere un momento...',
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
        }
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });


    </script>
}