@{
    ViewData["Title"] = "Doctor";
}

<section>
    <div class="row d-sm-flex justify-content-center align-items-center mb-4">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Citas</span></div>
                            <div class=" fw-bold h5 mb-0"><span class="align-items-center" id="dateCount"></span></div><!-- Cargar datos de la base de datos -->
                        </div>
                        <div class="col-auto"><i class="fa-solid fa-user fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Pacientes Atendidos</span></div>
                            <div class="fw-bold h5 mb-0"><span id="dateComplete"></span></div><!-- Cargar datos de la base de datos -->
                        </div>
                        <div class="col-auto"><i class="fa-solid fa-user-doctor fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Pacientes Pendientes</span></div>
                            <div class=" fw-bold h5 mb-0"><span id="datePending"></span></div><!-- Cargar datos de la base de datos -->
                        </div>
                        <div class="col-auto"><i class="fa-solid fa-user-shield fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="d-flex row col-md-12 justify-content-center align-content-center text-primary">
        <!-- Vista de Citas -->
        <div class="col-md-3" style="display:none">
            <section id="citas" >
                <h2>Citas Programadas</h2>
                <!-- Calendario de citas -->
                <div id="calendar"></div>
            </section>
        </div> <div class="col-md-12">
            <div class="card">
                <div class="card-header text-bg-primary">
                    Próximas Citas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table" id="citasDoctores">
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <script>
        let userRole = sessionStorage.getItem('userRole');
        if (userRole !== '2') {
            logoutUser();
        }
        $(document).ready(function () {
            //verifyToken();
            let uID = sessionStorage.getItem("userID");
            getUserCitas(uID);
            $("#loadingScreen").show();


        });
        function getUserCitas(uID) {
            // Realizar solicitud AJAX para obtener la lista de usuarios
            // var utID = 1;
            mostrarCargando();

            $.ajax({
                url: sessionStorage.urlEP + '/api/Appointments/v1/GetAppointmentsList',
                type: 'GET',
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    $("#loadingScreen").hide();
                    //console.log("Respuesta del Servidor " + data);
                    // Procesar los datos recibidos y agregar filas a la tabla
                    let dataSet = [];
                    let users = data.itemJson;
                    console.table(users);
                    if (users !== null) {
                       $("#dateCount").text(users.length);
                    }
                    let citasPendientes = 0; // Inicializa el contador de citas pendientes
                    let citasRealizadas = 0; // Inicializa el contador de citas pendientes
                    $.each(data.itemJson, function (index, cita) {
                        let fechaCita = cita.aDate;
                        let fechaFormateada = fechaCita.substring(0, 10);
                        let rowData = [
                            index+1,
                            cita.aID,
                            cita.uName,
                            cita.uCellphone,
                            cita.uDoctorName,
                            cita.aDescription,
                            fechaFormateada,
                            cita.aTime,
                            cita.asName
                        ];
                        dataSet.push(rowData);
                        if (cita.asName === "Pendiente") {
                            citasPendientes++; // Incrementa el contador de citas pendientes
                        }
                        if (cita.asName === "Realizado") {
                            citasRealizadas++; // Incrementa el contador de citas pendientes
                        }
                    });
                    $("#datePending").text(citasPendientes);
                    $("#dateComplete").text(citasRealizadas);
                    // Inicializa o actualiza el DataTable con los datos procesados
                    tableCitas = $('#citasDoctores').DataTable({
                        columns: [
                            { title: '#' },
                            { title: 'IdCita', visible: false },
                            { title: 'Nombre' },
                            { title: 'Celular' },
                            { title: 'Doctor' },
                            { title: 'Motivo' },
                            { title: 'Fecha' },
                            { title: 'Hora' },
                            { title: 'Estado' },
                        ],

                        data: dataSet,
                        "paging": false,
                        select: true,
                        destroy: true,
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
                        },

                    });
                    Swal.close();


                }
            });
        };
        function mostrarCargando() {
            Swal.fire({
                title: 'Cargando',
                text: 'Por favor, espere un momento...',
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });
        }
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });


    </script>
}