<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/23b7de44-240f-420a-9f34-8f6bb690ccd5/resourceGroups/SmileSoft/providers/Microsoft.Web/sites/EP-SmileSoft-Develop</ResourceId>
    <ResourceGroup>SmileSoft</ResourceGroup>
    <ApiResourceId>/subscriptions/23b7de44-240f-420a-9f34-8f6bb690ccd5/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ApiManagement/service/EpSmileSoftapi/apis/EpSmileSoft</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ep-smilesoft-develop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e8f1bb24-96f8-4d5d-a7a2-82f5784c5b24</ProjectGuid>
    <MSDeployServiceURL>ep-smilesoft-develop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EP-SmileSoft-Develop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$EP-SmileSoft-Develop</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>