.card {
    visibility: hidden;
}

.hide-number-buttons {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
#imgLogin {
    max-width: 516px; /* Establece el ancho máximo */
    height: auto; /* Mantiene la relación de aspecto original */
}