/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.video-fluid {
    width: 50%;
    height: auto;
}

.img-backup {
    display: none;
}

@media (max-width: 767px) {
    .video-fluid {
        display: none;
    }

    .img-backup {
        display: block;
    }
}

.img-hover:hover {
    transform: scale(1.02); /* Aumenta el tamaño en un 10% */
    transition: transform 0.4s ease; /* Agrega una transición suave */
}

/*.nav-item:hover {*/
    /*background-color: #f8f9fa;*/
        /*background-color: #f8f9fa;*/
    /*font-size: 1.1rem;
    transform: scale(1.01);
    border-radius: 5px;*/
    /*color: #0094ff;*/
    /*transition: transform 0.4s ease;*/ /* Agrega una transición suave */
/*}*/
.nav-item2:hover {
    background-color: #E0E0E0; /* Cambia al color primario de Bootstrap */
    font-size: 1.1rem;
    transform: scale(1.01); /* Aumenta ligeramente el tamaño al hacer hover */
    border-radius: 5px;
    transition: background-color 0.4s ease, transform 0.4s ease; /* Agrega una transición suave tanto al color de fondo como al tamaño */
}
.hide-on-load {
    display: none;
}

Modifica tu H
/* Oculta todos los elementos de menú por defecto */
#liAdmin, #liDoctor, #liUser, #divAdmin, #divDoctor, #divUser, #contenido {
    display: none;
}

#footerHome {
    position: absolute;
    bottom: 0;
    width: 100%;
     /* Cambia el color de fondo según tus preferencias */
  
}

#fondoContenido #content-wrapp {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#example::-webkit-scrollbar{
    height: 12px;
}
#example::-webkit-scrollbar-track {
    background: var(
        --bs-gray-100);
    border-radius: 6px;
}
#example::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600);
    border-radius: 5px;
}

/* Estilo para el contenedor de bienvenida */
.welcome-container {
    text-align: center; /* Centrar el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar el contenido verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
    height: 50vh; /* Altura del 100% de la ventana visible */
}

    /* Estilo para el título */
    .welcome-container h1 {
        font-size: 60px;
        color: #333; /* Color de texto deseado */
        margin-bottom: 10px;
    }

    /* Estilo para el párrafo */
    .welcome-container p {
        font-size: 18px;
        color: #666; /* Color de texto deseado */
    }

/* Estilos para la pantalla de carga */
#loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none; /* Por defecto, la pantalla de carga está oculta */
}

#loadingSpinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute; /* Posición absoluta para centrar dentro del #loadingScreen */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}