html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.video-fluid {
    width: 50%;
    height: auto;
}

.img-backup {
    display: none;
}

@media (max-width: 767px) {
    .video-fluid {
        display: none;
    }

    .img-backup {
        display: block;
    }
}

.img-hover:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.nav-item:hover {
    /*background-color: #f8f9fa;*/
    background-color: #f8f9fa;
    border-radius: 5px;
    color: #0094ff;
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

