/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.video-fluid {
    width: 50%;
    height: auto;
}

.img-backup {
    display: none;
}

@media (max-width: 767px) {
    .video-fluid {
        display: none;
    }

    .img-backup {
        display: block;
    }
}


.hide-on-load {
    display: none;
}

/*Modifica tu H
*//* Oculta todos los elementos de menú por defecto */
#liAdmin, #liDoctor, #liUser, #divAdmin, #divDoctor, #divUser, #contenido {
    display: none;
}

#footerHome {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Cambia el color de fondo según tus preferencias */
}

#fondoContenido #content-wrapp {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#example::-webkit-scrollbar {
    height: 12px;
}

#example::-webkit-scrollbar-track {
    background: var( --bs-gray-100);
    border-radius: 6px;
}

#example::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600);
    border-radius: 5px;
}

/* Estilo para el contenedor de bienvenida */
.welcome-container {
    text-align: center; /* Centrar el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar el contenido verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
    height: 20vh; /* Altura del 100% de la ventana visible */
}

    /* Estilo para el título */
    .welcome-container h1 {
        font-size: 60px;
        color: #333; /* Color de texto deseado */
        margin-bottom: 10px;
    }

    /* Estilo para el párrafo */
    .welcome-container p {
        font-size: 18px;
        color: #666; /* Color de texto deseado */
    }

/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

    .dot:last-child {
        margin-right: 0;
    }

    .dot:nth-child(1) {
        animation-delay: -0.3s;
    }

    .dot:nth-child(2) {
        animation-delay: -0.1s;
    }

    .dot:nth-child(3) {
        animation-delay: 0.1s;
    }

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}




.loader {
    width: 16em;
    height: 16em;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 99999;
}

.loader__eye1,
.loader__eye2,
.loader__mouth1,
.loader__mouth2 {
    animation: eye1 3s ease-in-out infinite;
}

.loader__eye1,
.loader__eye2 {
    transform-origin: 64px 64px;
}

.loader__eye2 {
    animation-name: eye2;
}

.loader__mouth1 {
    animation-name: mouth1;
}

.loader__mouth2 {
    animation-name: mouth2;
    visibility: hidden;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 10%);
        --fg: hsl(var(--hue), 90%, 90%);
    }
}

@keyframes eye1 {
    from {
        transform: rotate(-260deg) translate(0, -56px);
    }

    50%, 60% {
        animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
        transform: rotate(-40deg) translate(0, -56px) scale(1);
    }

    to {
        transform: rotate(225deg) translate(0, -56px) scale(0.35);
    }
}

@keyframes eye2 {
    from {
        transform: rotate(-260deg) translate(0, -56px);
    }

    50% {
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }

    52.5% {
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
    }

    55%, 70% {
        animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
        transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
    }

    to {
        transform: rotate(150deg) translate(0, -56px) scale(0.4);
    }
}

@keyframes eyeBlink {
    from, 25%, 75%, to {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }
}

@keyframes mouth1 {
    from {
        animation-timing-function: ease-in;
        stroke-dasharray: 0 351.86;
        stroke-dashoffset: 0;
    }

    25% {
        animation-timing-function: ease-out;
        stroke-dasharray: 175.93 351.86;
        stroke-dashoffset: 0;
    }

    50% {
        animation-timing-function: steps(1, start);
        stroke-dasharray: 175.93 351.86;
        stroke-dashoffset: -175.93;
        visibility: visible;
    }

    75%, to {
        visibility: hidden;
    }
}

@keyframes mouth2 {
    from {
        animation-timing-function: steps(1, end);
        visibility: hidden;
    }

    50% {
        animation-timing-function: ease-in-out;
        visibility: visible;
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -351.86;
    }
}

.card-admin {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

    .card-admin:hover {
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
        box-shadow: rgb(0,0,0) 5px 10px 50px,rgb(0,0,0) -5px 0px 250px;
    }

/*div.dataTables_wrapper div.dataTables_filter label {
    display: block;
}*/

div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
    margin: 0;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

    .float:hover {
        text-decoration: none;
        color: #25d366;
        background-color: #fff;
    }

.my-float {
    margin-top: 16px;
}

/* Agrega una animación para vibrar el icono */
@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Aplica la animación al icono */
#whatsappIcon {
    animation: rotateIcon 5s linear infinite; /* Rota cada 60 segundos */
    z-index: 100;
}


/* Define animation for showing the div */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Define animation for hiding the div */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Apply transitions to the div element */
#myDiv {
    animation: fadeIn 0.5s ease-in-out;
    transition: animation 0.5s;
}

/* Apply transitions to the icon */
#findIcon {
    animation: fadeOut 0.5s ease-in-out;
    transition: animation 0.5s;
}
